.none {
	display: none;
}

@media (min-width: 768px) {
	.none {
		display: block;
	}
	.companies-section {
		background: var(--light-background);
		padding: 2rem 0;
		display: flex;
		justify-content: center;
	}
	.companies {
		display: flex;
		align-items: center;
	}
	.companies img {
		margin: 0 auto;

		width: 80%;

		text-align: center;
	}
}
@media (min-width: 1440px) {
	.companies img {
		width: 100%;
	}
}
