.none {
	display: none;
}

@media (min-width: 768px) {
	.none {
		display: block;
	}
	.companies {
		background: var(--light-background);
		padding: 2rem 0;
		display: flex;
		justify-content: center;
	}
	.wrapper__companies {
		text-align: center;
		width: 80%;
	}
	.wrapper__companies img {
		width: 80%;
	}
}
@media (min-width: 1440px) {
	.wrapper__companies img {
		width: 60%;
	}
}
