
.features {
    background-color: black;
    color: white;
    text-align: center;
    height: 400px;
    padding: 40px;
}

.features__title {
    font-size: 1.4em;
    font-weight: 200;
    padding-bottom: 80px;
}

.features__adv {
    display: flex;
    justify-content: center;
}

.features__adv > div {
    width: 300px;
}

.features__cicle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    padding: 18px 0;
    margin-bottom: 25px;
}

.features__cicle img {
    width: 28%;
}

.features__adv p {
    font-size: 0.6em;
    padding-bottom: 10px;
    line-height: 1.5em;
}