.footer__section {
    height: 80px;
    background: #333;
    color: #fff;
}

.footer__container {
    display: flex;
    justify-content: center;
}

.footer__text {
    margin-top: 35px;
    margin-right: 8px;
}

.footer__img {
    margin-top: 28px;
}