.header {
	min-height: 900px;
	background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

.header__container {
	justify-content: space-between;
	margin: 0 auto;
}

.header__logo {
	margin-top: 50px;
	margin-left: 40px;
	min-width: 280px;
}

.header__nav {
	margin-top: 20px;
	min-width: 400px;
}

.nav__menu {
	margin: 26px;
}

.nav__item {
	margin: 0 10px;
}

.nav__link {
	text-decoration: none;
	color: var(--color-alfa);
	font-size: 18px;
	padding: 15px;
}

.content__container {
	margin: 150px auto;
	max-width: 1500px;
}

.article {
	width: 35%;
}

.article__title {
	margin-left: 60px;
	color: var(--color-alfa);
	font-size: 44px;
	font-weight: bold;
}

.article__text {
	margin-left: 60px;
	margin-top: 20px;
	width: 340px;
	font-size: 20px;
	color: var(--color-alfa);
}

.article__btn {
	margin-left: 60px;
	margin-top: 30px;
}

.article__btn--green {
	border-radius: 30px;
	font-size: 20px;
	padding: 20px 40px;
	color: var(--color-alfa);
	background: rgb(9, 214, 170);
	border: none;
}

.content__block {
	position: absolute;
	left: 45%;
	top: 20%;
	flex-direction: row-reverse;
	margin-bottom: 200px;
}

.content__block__img {
	border-radius: 100px;
	border: 20px solid var(--color-alfa);
	transform: rotate(-10deg);
	height: 400px;
}
