.imac-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 4rem 0;

	color: var(--black-color);
}
.imac-section .wrapper {
	margin: 0 auto;
	width: 80%;
}
.imac-section__img img {
	width: 100%;
}

.text-section__title {
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 400;
}
.text-section__text {
	font-size: 1.4rem;
	padding-top: 2rem;
}
@media (min-width: 768px) {
	.imac-section .wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		width: 60%;
	}
	.imac-section__img {
		display: flex;
		align-items: center;
	}
	.imac-section__img img {
		width: 20rem;
	}
	.text-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		width: 40%;
	}
}
@media (min-width: 1024px) {
	.imac-section .wrapper {
		width: 80%;
	}
	.imac-section__img img {
		width: 80%;
	}
	.text-section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		width: 40%;
	}
}
@media (min-width: 1440px) {
	.wrapper__imac-section img {
		width: 50%;
	}
	.text-section {
		padding-top: 3rem;
		width: 40%;
	}
	.text-section__title {
		font-size: 2.5rem;
	}
	.text-section__text {
		font-size: 1.7rem;
	}
}
