/* FEATURES */

.features__row {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    min-height: 450px;
}

.feature__header {
display: flex;
align-items: center;
justify-content: center;
flex-basis: 30%;
flex-grow: 1;
}

.feature__header-text {
    margin: 0;
    font-weight: lighter;
}

.features__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 70%;
    flex-grow: 1;
}

.feature {
    flex-basis: 20%;
    margin: 0 1rem;
}

.feature__ikon {
display: flex;
align-items: center;
justify-content: center;
width: 5rem;
height: 5rem;
background-color: white;
border-radius: 50%;
box-shadow: 4px 8px 20px rgba(255, 255, 255, 0.445);
margin: 0 auto;
}

.feature__ikon-svg {
    
}

.feature__info, .feature__text {
    text-align: center;
    font-size: 0.8rem;
}

.feature__text {
    /* padding: 0 1rem; */
}

/* END OF FEATURES */

/* LOGOS */

.logos__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

.logos-img {
    /* box-sizing: border-box; */
    flex-shrink: 1;
    min-width: 100%;
    padding: 0 10%;
}

/* END OF LOGOS */

/* ABOUT */

.about {
    display: flex;
}

.about__info {
    flex-basis: 50%;
    padding: 4rem 8rem 0 0;
    
}

.about__img-container {
    flex-basis: 50%;
}

.about__img {
    /* box-sizing: border-box; */
    width: 100%;
    padding: 2rem;
}

/* END OF ABOUT */

