.novatheme__section {
    height: 87vh;
    background-color: #FFFFFF;
    color: #000;
    text-align: center;
}

.portfolio__container {
    height: 110px;
    background-color: #F9FAFA;
}

.portfolio__container--clients {
    margin-top: 40px;
    height: 35px;
}

.novatheme__container {
    display: flex;
}

.novatheme__container .block__left {
    width: 50%;
    display: flex;
    height: 60vh;
    margin-left: 100px;
    margin-top: 75px;
}

.novatheme__container .block__right {
    width: 50%;
}

.novatheme__container .block__right--title {
    margin-top: 120px;
    font-size: 38px;
    width: 30.5vw;
    text-transform: uppercase;
}

.novatheme__container .block__right--text {
    margin-top: 40px;
    font-size: 19px;
    width: 30vw;
    letter-spacing: 4px;
    line-height: 40px;
    text-align: left;
    margin-left: 60px;
}