html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    box-sizing: border-box;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

/*HEADER*/

header{
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    width: 100%;
    
}

.nav {
    padding: 1rem;
}

.nav__links {
    display: flex;
    justify-content: flex-start;
}

.nav__link-margin{
    margin-left: auto;
}
.nav__link-item {
    list-style-type: none;
    font-size: 1.5rem;
}

.nav__link {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    font-size: 2rem;
}

.hero {
    display: flex;
}

.hero__info {
    flex-basis: 50%;
    padding: 100px 0px 100px 0px;
    margin: 20px;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-direction: column;
}

.hero__photo {
    flex-basis: 90%; 
    height: 90%;
    background-image: url('../images/screen.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero__photo-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    height: 400px;
    background-color: white;
    transform: rotate(-10deg); 
    margin-bottom: 80px;
    border-radius: 5px;
} 

.hero__button{
    font-size: 2rem;
    background-color: rgb(37, 241, 139);
    color: white;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

/*END OF HEADER*/

/*FEATURES*/

.features{
    color: white;
    background-color: black;
    
}

.features__header{
    text-align: center;
    padding: 2rem 0 2rem 0;
}

.feature{
    padding: 2rem 2rem 2rem 2rem;
    width: 100%;
}


.features__container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.feature__image{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__image-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.feature__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature__header {
    text-align: center;
}

.feature__description {
    text-align: center;
}

/*END OF FEATURES*/

/*WEBSITES*/

.websites__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.websites__photo {
    flex-basis: 80%;
    padding: 20px;
}
/*END OF WEBSITES*/

/*ADVERB*/
.adverb{
    display: flex;
    color: grey;
}

.adverb__image-container {
    flex-basis: 50%;
    height: 500px;
    background-image: url('../images/imac.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.adverb__text {
    flex-basis: 50%;
}

/*END OF ADVERB*/
