/* GENERAL */

html,
body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #444;
}


/* END GENERAL */


/* FRAMES */

.header,
.features,
.ads,
.apple,
.pricing,
.team,
footer {
    outline: 2px green solid;
    width: 100%;
}

.logo-nav,
.hero,
.features-title,
.icons,
.ads>div,
.offer-plan,
.dollers,
.team-header,
.team-persons {
    outline: 2px solid blue;
}

.logo,
.nav,
.beauty,
.screen,
.icons>div,
.apple__img,
.apple__desc,
.dollers>div,
.team-persons>div {
    outline: 2px orange solid;
}


/* END FRAMES */


/* COMMON */

.container {
    margin: 0 auto;
    max-width: 1150px;
}


/* END COMMON */


/* HEADER LOGO NAV */

.logo-nav {
    display: flex;
    justify-content: space-between;
}


/* END HEADER LOGO NAV */


/* HERO */

.hero {
    display: flex;
}

.hero__beauty {
    /* width: 50%; */
}

.hero_screen {
    /* width: 50%; */
}

.screen--width {
    /* width: 100%; */
}


/* END HERO */


/* FEATURES */


/* END FEATURES */


/* ADS */


/* END ADS */


/* APPLE */


/* END APPLE */


/* PRICING */


/* END PRICING */


/* TEAM */


/* END TEAM */


/* FOOTER */


/* END FOOTER */