.header, .main {
    width: 100%;
    background-color: greenyellow;
    color: rgb(13, 13, 13);
}

.header-top, .header-hero {
    max-width: 1150px;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
}

.features {
    max-width: 1150px;
    margin: 0 auto;
    background-color: rgb(0, 47, 47);
    color: white;
    box-sizing: border-box;
}

.logos {
    max-width: 1150px;
    margin: 0 auto;
    background-color: rgb(223, 255, 176);
    box-sizing: border-box;
}

.logos__container {
    display: flex;
    margin: 0 200px;
    justify-content: center;
}

.logos__item {
    margin: 20px 40px;
    padding: 5px;
    background-color: blueviolet;
}

.computer {
    max-width: 1150px;
    margin: 0 auto;
    background-color: rgb(124, 149, 87);
    box-sizing: border-box;
    display: flex;
}

.computer__computer-image {
    flex-basis: 50%;
    padding: 40px;
    box-sizing: border-box;
}

.computer__c-description {
    flex-basis: 50%;
    padding: 40px 150px 40px 40px;
    box-sizing: border-box;
}

.computer-image__img {
    background-color: blue;
}

.c-description__header {
    font-size: 1.5rem;
    padding-bottom: 30px;
}

.plans {
    max-width: 1150px;
    margin: 0 auto;
    background-color: rgb(223, 255, 176);
    box-sizing: border-box;
}

.plans__p-container-1 {
    text-align: center;
    padding: 50px 30px 30px 30px;
    box-sizing: border-box;
}

.plans__p-container-2 {
    display: flex;
    margin: 0px 75px;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
}

.p-container-2__p-item {
    flex-basis: 33.33333%;
    min-height: 300px;
    background-color: orange;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.p-container-2__p-item--margin {
    margin: 0 30px;
    box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.3);
}

.p-container-1__header {
    padding-bottom: 15px;
    box-sizing: border-box;
    font-size: 1.5rem;
}

.features__header {
    padding: 30px;
    text-align: center;
    font-size: 1.5rem;
}

.features__f-boxes {
    display: flex;
    margin: 0px 150px;
    padding: 0 0 20px 0;
    box-sizing: border-box;
}

.f-boxes__f-description {
    flex-basis: 33.33333%;
    min-height: 300px;
    background-color: orange;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.f-boxes__f-description--margin {
    margin: 0 20px;
}

.f-description__image {
    min-width: 100px;
    min-height: 100px;
    background-color: blue;
}

.f-description__header {
    font-weight: bold;
    padding: 15px;
}

.item {
    background-color: orange;
    margin: 20px;
}

.header-top {
    justify-content: space-between;
}

.header-hero {
    justify-content: center;
}

.nav__nav-list {
    display: flex;
}

.header-hero__container {
    flex-basis: 50%;
    min-height: 500px;
}

.header-hero__header {
    font-size: 3rem;
}