body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body .header .header__bar .header_navbar .header_navbar-links li {
    list-style-type: none;
}

body .header .header__bar .header_navbar .header_navbar-links .header_nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.5s ease-in-out;
}
body .header .header__bar .header_navbar .header_navbar-links .header_nav-links a:hover {
    color: #68A3D3;
}

body main .plan .price__container .price__item-list li {
    list-style-type: none;
}


/* HEADER*/
.header {
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    width: 100%
}
/* END OF HEADER*/

/* HEADER BAR */
.header__bar {
    padding: 30px 0 60px 0;
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
}

.header_navbar-links {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.header_logo-item {
    margin-top: 20px;
    width: 80%;
}
/* END OF HEADER BAR */

/* HERO */

.hero {
    margin: 0 auto;
    max-width: 1150px;
    justify-content: space-between;
    display: flex;
    padding-bottom: 100px;
}

.hero__content-heading{
    color: white;
}

.hero__content-paragraph {
    color: white;
    width: 250px;
}

.hero__content-button {
    min-width: 100px;
    border: none;
    background-color: #2ecc71;
    padding: 0.5rem;
    border-radius: 6px;
    color: white;
    font-size: 14px;

    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.hero__content-button:hover {
    background-color: #27ae60;
}

.hero__screen {
    padding-left: 200px;
}

.hero__screen-item {
    width: 80%;
    transform: rotate(-8deg);
    background-color: white;
    border: 15px solid white;
    border-radius: 7%;
}

/* END OF HERO */

/* FEATURES SECTION */

.features {
    padding-top: 30px;
    background: black;
    width: 100%;
}

.features__heading{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.features__heading-item {
    color: white;
    font-size: 25px;
}

.features__container {
    margin: 0 auto;
    max-width: 1150px;
    display: flex;
}

.features__items {
    flex-basis: 33.33333%;
    text-align: center;
    padding: 70px;
    
}

.features__items-background {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 21px 19px 71px -21px rgba(255,255,255,1);  
}

.features__items-heading {
    color: white;
}

.features__items-paragraph {
    color: white;
    font-size: 13px;
}

/* END OF FEATURES SECTION */

/* LOGOS */

.logos {
    width: 100%;
    background: #F9FAFA;
}

.logos__container {
    padding: 30px;
    margin: 0 auto;
    max-width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END OF LOGOS */

/* IMAC */

.imac {
    width: 100%;
    background: white;
    display: flex;
}

.imac__container{
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1150px;
    display: flex;
}

.imac__container-item {
    width: 600px;
    padding-right: 100px;
}

.imac__content {
    padding: 20px;
}

.imac__content-heading {
    color: #333333;
    font-size: 25px;
}

.imac__content-paragraph {
    color: #333333;
    line-height: 30px;
}

/* END OF IMAC */

/* PLAN */

.plan {
    width: 100%;
    background: #F8F9F9;
}

.heading__container {
    margin: 0 auto;
    max-width: 1150px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.heading__container-heading{
    padding-top: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #373737;
}

.heading__container-paragraph {
    display: flex;
    justify-content: center;
    color: #373737;
    padding-bottom: 100px;
}

.price__container {
    margin: 0 auto;
    padding-bottom: 100px;
    max-width:  1150px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.price__container-item {
    max-width: 300px;
    height: 400px;
    
}

.first {
    flex-basis: 33.33333%;
}

.second {
    flex-basis: 33.33333%;
    /* margin: 20px; */
}

.third {
    flex-basis: 33.33333%;
}

.price__item-heading {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.price__item-price {
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.price__item-paragraph {
    display: flex;
    justify-content: center;
}

.price__item-list {
    padding: 0;
    height: 100px;
}

.price__list-item {
    display: flex;
    justify-content: center;
    line-height: 25px;
}

.price__container-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    min-width: 100px;
    border: none;
    background-color: #0abceb;
    padding: 15px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.price__container-button:hover {
background-color: #58D5F7;
}

.activ {
    box-shadow: 11px 15px 41px -14px rgba(107,107,107,1);
    border-radius: 3%;
}