.subscriptions {
    display: flex;
    flex-direction: column;
    background-color: var(--color-delta);
}

.subscriptions__heading {
    padding: 6rem 0 0 0;
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: var(--color-gamma);
}

.subscriptions__paragraph {
    margin: 1rem 0 6rem 0;
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-gamma);
}

.subscriptions__content {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 6rem;
}

.subscriptions__subscription {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscriptions__subscription:nth-child(2) {
    flex-basis: calc(35% - 4rem);
    margin: 0 2rem;
    box-shadow: 0 0 3rem 1rem var(--color-epsilon);
}

.subscription__heading {
    margin: 5rem 0 1rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--color-gamma);
}

.subscription__cost {
    font-size: 5rem;
    font-weight: bold;
}

.subscription__cost>* {
    display: block;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 1.5rem;
}

.subscription__description {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
}

.subscription__button {
    margin: 6rem 0;
    padding: 1.5rem 4rem;
    border: 0.1rem solid var(--color-dzeta);
    border-radius: 1rem;
    background-color: var(--color-dzeta);
    font-size: 1.5rem;
    color: var(--color-alfa);
}