
.team {
    text-align: center;
}

.team__title {
    font-size: 1.4em;
    font-weight: 200;
    padding: 70px 0;
}

.team__members {
    display: flex;
    justify-content: center;
}

.team__member > .item__img {
    width: 90px;
    padding-bottom: 20px;
}

.team__members > div {
    width: 230px;
}
.item__function {
    font-size: 0.8em;
    font-weight: 100;
    padding: 6px;
}

.item__description {
    font-size: 0.6em;
    font-weight: 100;
    padding-top: 7px;
    padding-bottom: 10px;
}

.team__members--icons {
    display: flex;
    justify-content: center;
}

.team__members--icon {
    width: 7px;
    margin: 0 5px;
    padding-bottom: 100px;
    color: black;
}
