// MIXINS
$breakpoints: (s: 560px,
    m: 768px,
    l: 1024px,
    xl: 1440px,

);

@mixin mq($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (max-width: #{ map-get( $breakpoints, $breakpoint ) }) {
            @content;
        }
    }

    @else if type_of($breakpoint)==number and unit($breakpoint)==px or unit($breakpoint)==em or unit($breakpoint)==rem {
        @media screen and (max-width: $breakpoint) {
            @content;
        }
    }
}
