// VARIABILITIES

// Fonts
$main-font: 'Raleway', sans-serif;
$sec-font: 'Montserrat', sans-serif;

// Colors
$cont-color: #645af2;
$whiteish: #f8f8f8;
$blackish: #333;
$greyish: #888;

// Measures
$content-width: 1050px;
