//VARIABLE

// Colors
$primary:#0ABCEB; //button color #00BDEB
$secondary: #58d5f7; //hover #57D4F7
$primary2: #25F18B; //button
$secondary2: #6affb4;
$basetext: #333333; //paragraph, text
$baseheading: #333333; //heading and titles
$bgcolor: #fff; // site background
$bgcolor2: #000; //
$bgcolor3: #f9fafa;
$bgcolor4: #464646; //footer
$bordercolor: #cecece; //form border color
$gradient: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
$box-shadow: .5rem .9rem 4rem rgba(99, 117, 138, 0.3);


// Font Family //
$fontbase: Montserrat,
Roboto,
'sans sefif';
$line-height: 1.5;

//fonts size
$h1: 3.6rem;
$h2: 3rem;
$h3: 2.4rem;
$h4: 1.8rem;
$h5: 1.4rem;
$p: 1.4rem;