html {
	// Colors
	--color-green: #25f18b;
	--color-green-light: #6affb4;
	--color-blue: #0abceb;
	--color-blue-light: #58d5f7;
	--color-light-first: #f8f9f9;
	--color-light-second: #f9fafa;
	--color-black: #000;
	--color-white: #fff;
	--color-grey: #616161;
}
