.theme {
    min-height: 30vh;
    align-items: center;
    justify-content: center;
}

.theme__foto {
    width: 90%;
    height: auto;
}

.theme>* {
    flex-basis: 40%;
}

.theme__description {
    padding: 5% 0 15% 2%;
    height: auto;
    width: 50%;
}

.theme__title {
    font-weight: 600;
    padding: 2% 0;
    color: #8c939e;
    font-size: 2rem;
}

.theme__text {
    font-weight: 300;
    color: #8c939e;
    width: 70%;
}