@import '../abstracts/';

.team {
    &__header {
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        padding: 20px 0 20px 0;
        color: $color-dark-grey;
        @include respond(tablet) {
            font-size: 1.5em;
        }
    }

    // &__sub-header {
    //     text-align: center;
    //     @include flexAbsoluteCenter;
    //     flex-direction: column;
    //     padding: 10px 0;

    //     @include respond(tablet) {
    //         &__sub-header {
    //             text-align: center;
    //         }
    //     }

    //     label {
    //         font-size: 0.5em;
    //         padding-bottom: 10px;
    //         @include respond(tablet) {
    //             font-size: 1em
    //         }
    //     }

    //     select {
    //         font-size: 0.5rem;
    //         padding: 10px 5px;
    //     }
    // }

    &__container {
        @include flexAbsoluteCenter;
        display: grid;
        grid-template-columns: 80%;
        grid-template-columns: 80%;
        grid-template-rows: repeat(3, 350px);
        grid-auto-flow: row;

        @include respond(tablet) {
            display: grid;
            grid-template-columns: repeat(3, 350px);
            grid-template-rows: 80%;
            grid-auto-flow: row;
        }
    }

    

    &__person {
        @include flexAbsoluteCenter;
        flex-direction: column;
        padding: 20px 0 20px 0;

        &>* {
            margin-bottom: 10px;
            @include flexAbsoluteCenter
        }
    }

    &__photo {
        width: 80px;
        height: 80px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

    .you{
        background-color: $color-medium-green;
    }
    }



    // &__person.you {
    //     display: none;
    // }

    &__person.addYourself {
        .team__photo {
            width: 80px;
            height: 80px;
            display: flex;
            flex-direction: column;
        }
        .team__function,
        .team__data {
            input {
                border: none;
            }
        }
    }
}




