@mixin flexAbsoluteCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }