@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;800&display=swap');

:root {
    --color-alfa: white;
    --color-beta: #F9FAFA;
}

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.rows__size {
    height: 20%;
    width: 76%;
}

.container__size {
    margin: 0 auto;
    height: 50em;
}

.header__container {
    /* outline: 3px green; - nie działa ?? */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navigation--list {
    display: flex;
}

.navigation__element {
    padding: 0 12px;
    margin-right: 22px;
}

.navigation__element--link {
    color: var(--color-alfa);
    font-weight: bold;
    text-align: center;
}

.header__section {
    display: flex;
    width: 76%;
    height: 100%;
}

.header__section--text {
    width: 40%;
}

.header__text--headline {
    font-size: 2.6em;
    color: var(--color-alfa);
    text-align: left;
    font-weight: bold;
    padding-top: 3em;
    letter-spacing: 2px;
}

.header__text--paragraph {
    margin-top: 30px;
    font-size: 1.4em;
    color: var(--color-alfa);
    line-height: 1.6em;
}

.header__section--button {
    display: inline-block;
    margin-top: 4.4em;
    border-radius: 15px;
    padding: 2.2em 6.1em;
    font-size: 0.6em;
    color: var(--color-alfa);
    background-color: limegreen;
    text-align: center;
}

.header__text--span {
    font-size: 1.8em;
}

.header__section--image {
    width: 60%;
} 

.header__image--tablet {
    background-color: var(--color-alfa);
    border: 20px solid white;
    transform: rotate(-6deg);
    margin-top: 3.8em;
    margin-left: 4.6em;
    width: 78%;
    height: 69%;
    border-radius: 30px;
}

.section__container {
    /* outline: 3px green; - nie działa ?? */
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: black;
}

.section__features--row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2em;
}

.section__features--headline, .section__team--headline{
    font-size: 2em;
}

.section__row {
    height: 80%;
    width: 76%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section__features--row, .section__row {
    color: var(--color-alfa);
}

.photo__border {
    background: white;
    font-size: 26px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    padding: 33px;
}

.section__row--photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 8px;
    width: 30%;
}

.photo__border--image {
    display: block;
    height: 1.5em;
    width: 1.5em;
}

.section__row--headline {
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
}

.section__row--paragraph {
    line-height: 1.8em;
    text-align: center;
    padding: 0 1em;
}

.section__container--companies {
    width: 100%;
    margin: 0 auto;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-beta);
}

.section__row--companies {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.section__image--companies {
    width:64%;
    opacity: 0.6;
}

.main__container {
    display: flex;
    justify-content: center;
}

.main__row {
    width: 76%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.main__computer {
    width: 52%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__text {
    width: 38%;
    display: flex;
    align-items: flex-start;
    margin-top: 6.8em;
    flex-direction: column;
    opacity: 0.4;
}

.main__text--headline {
    font-size: 2.1em;
    letter-spacing: 2px;
    margin-bottom: 1.7em;
}

.main__text--paragraph {
    font-size: 1.2em;
    line-height: 1.9em;
}

.section__container--offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-beta);
}

.section__text--paragraph1 {
    font-size: 2.4em;
}

.section__text--paragraph4{
    font-size: 1.4em;
    padding-bottom: 30px;
}

.section__row--offer {
    width:76%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}

.offer__column {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.offer__column--position {
    text-align: center;
    position: absolute;
}

.offer__column--price {
    font-size: 1.5em;
    height: 30%;
    bottom:50%;
}

.column__first--span {
    position: relative;
    bottom: 10px;
}

.column__second--span{
    font-size: 2.5em;
    font-weight: bold;
}

.column__third--span{
    font-size: 0.7em;
}

.offer__column--text {
    height: 12%;
    bottom: 38%;
}

.offer__column--paragraph {
    font-weight: bold;
    line-height: 1.5em;
}

.offer__column--button {
    bottom: 9.5%;
    height: 4%;
    padding: 2em 3.2em;
}

.offer__column--button {
    text-align: center;
    background-color: #0ABCEB;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer__button {
    color: var(--color-alfa);
}

.offer__middle {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 3px rgba(0,0,0,0.2);
}

.section__team--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__row--text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.section__row--team {
    width:76%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section__team--photos {
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section__team--images {
    position: absolute;
    bottom: 60%;
    width: 45%;
}

.section__team--text {
    position: absolute;
    bottom: 33%;
    text-align: center;
}

.team__text--headline {
    font-size: 1.4em;
}

.section__team--text .team__text--paragraph:first-of-type {
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    opacity: 0.4;
}

.section__team--media {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 23%;
    justify-content: space-between;
    width: 18%;
}

.team__media--image {
    height: 1.5em;
}

.footer__container {
    margin: 0 auto;
    height: 4em;
    width: 100%;
    background-color: #464646;
    color: var(--color-alfa);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    word-spacing: 2px;
    font-weight: bolder;
}

.footer__container--paragraph {
    font-weight: 600;
}

.footer__container--image{
    width: 7em;
}
