.footer__background-color {
    background-color: #464646;
}

.footer__section__container {

    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.footer__section__container>div>p {
    padding-right: 20px;
}