* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', serif;
  color: #fff;
}
.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 5px 0;
}

.logo {
  width: 160px;
  padding-top: 20px;
}

.header {
  background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 5px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
}

.section-title {
  font-size: 40px;
  font-weight: 200;
  padding-bottom: 100px;
}

.features {
  background-color: black;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 150px;
  position: relative;
}
.features .container {
  max-width: 1000px;
  margin: auto;
}

.features-list {
  display: flex;
  justify-content: space-around;
}

.feature-item {
  width: 30%;
  padding: 10px;
}

.cta-button {
  background-color: #25f18b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

.partners .container {
  text-align: center;
  padding: 30px;
  max-width: 100%;
  background-color: #f9fafa;
}

.about .container {
  display: flex;
  max-width: 1900px;
}
.about-description {
  color: black;
  padding: 80px;
}
.about-description h2 {
  padding-bottom: 50px;
}

.pricing .container {
  text-align: center;
  color: black;
  background-color: #f8f9f9;
}

.pricing-options {
  display: flex;
  justify-content: space-around;
}

.pricing-item {
  width: 30%;
  padding: 10px;
  border: 1px solid #ddd;
}

.team .container {
  text-align: center;
  color: black;
}

.team-members {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.team-member {
  text-align: center;
}

.footer .container {
  text-align: center;
  padding: 20px 0;
  color: black;
}
