*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}
body {
	min-height: 100vh;
}

header {
	width: 100%;
	background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

.nav__menu,
.nav__list {
	display: flex;
	justify-content: space-between;
}

.nav__logo {
	padding: 10px;
}

.nav__item {
	margin: 10px 20px;
	list-style-type: none;
}

.nav__link {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.header__content {
	display: flex;
	justify-content: space-between;
	margin: 70px 20px 20px 80px;
	max-width: 1150px;
}

.header__heading {
	color: rgb(255, 255, 255);
}
.header__paragraph {
	color: rgba(255, 255, 255, 0.7);
}
.header__btn {
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	width: 80%;
	cursor: pointer;
	border: none;
	color: white;
	background-color: rgb(147, 240, 147);
}

span {
	text-transform: uppercase;
}
.header__img {
	transform: rotate(-5deg);
	padding: 20px;
	margin-bottom: 60px;
	border-radius: 10px;
	background-color: #fff;
}

.header__img img {
	width: 500px;
}

.features__content {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
	margin-top:20px;
}

.features__container,
.features__parent {
    position: relative;
    max-width: 1150px;
}

.features__heading {
    position: absolute;
    top: 0;
    left: 60%;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
}

.features__parent {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.features__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-top:70px;
}

.features__paragraph {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px; 
}




