:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-white-light: rgba(255, 255, 255, 0.8);
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

/* Nav section */ /* Main section */
.header__nav-container,
.header__section-container {
  width: 1150px;
  max-width: 1150px;

  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__section-container {
  padding-bottom: 125px;
}

.header__nav-items {
  display: flex;
}

.header__nav-item {
  padding: 0 10px;
  font-weight: 700;
  color: var(--color-white);
}

.header__heading-title {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 700;
  max-width: 400px;
}
.header__description {
  color: var(--color-white-light);
  max-width: 240px;
  padding: 30px 0;
  line-height: 30px;
}
.header__download-btn {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color-white);
  padding: 15px 40px;
  background-color: #12f094;
  border-radius: 10px;
}

.header__ad-img-container {
  height: 400px;
  width: 500px;
  margin-right: 90px;
  border: 10px solid rgb(255, 255, 255);
  background-color: var(--color-white);
  border-radius: 15px;
  transform: rotate(-7deg);
}
