*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}
body {
	min-height: 100vh;
}

header {
	width: 100%;
	background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

.nav__menu,
.nav__list {
	display: flex;
	justify-content: space-between;
}

.nav__logo {
	padding: 10px;
}

.nav__item {
	margin: 10px 20px;
	list-style-type: none;
}

.nav__link {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.header__content {
	display: flex;
	justify-content: space-between;
	margin: 70px 20px 20px 80px;
	max-width: 1150px;
	margin:30px auto;
}

.header__heading {
	color: rgb(255, 255, 255);
}
.header__paragraph {
	color: rgba(255, 255, 255, 0.7);
}
.header__btn {
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	width: 80%;
	cursor: pointer;
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(147, 240, 147);
}

span {
	text-transform: uppercase;
}
.header__img {
	transform: rotate(-5deg);
	padding: 20px;
	margin-bottom: 60px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
}

.header__img img {
	width: 500px;
}

.features__content {
	width: 100%;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	margin-top: 20px;
}

.features__container,
.features__parent {
	position: relative;
	max-width: 1150px;
}

.features__heading {
	position: absolute;
	top: 0;
	left: 60%;
	margin: 20px auto;
	text-align: center;
	text-transform: uppercase;
}

.features__parent {
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	padding: 20px;
}

.features__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.features__img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
}

.features__paragraph {
	text-transform: uppercase;
	text-align: center;
	margin-top: 20px;
}

small {
	text-align: center;
}

.features__logos {
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: rgb(255, 255, 255);
}

.nova__content {
	max-width: 1150px;
	margin: 40px;
	display: flex;
	gap: 100px;
	padding: 20px;
}

.nova__heading {
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom: 50px;
}

.pricing__plan {
	text-align: center;
	margin: 0 auto;
	max-width: 1150px;
}

.pricing__heading {
	font-weight: 300;
	margin: 0 auto;
	max-width: 1150px;
}

.pricing__examples {
	max-width: 1150px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 100px;
	padding: 50px;
	margin: 0 auto;
}

.pricing__basic,
.pricing__agency,
.pricing__pro {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding:20px;
}

.pricing__heading--basic,
.pricing__heading--agency,
.pricing__heading--pro {
	font-weight: 400;
	text-transform: uppercase;
}

.pricing__value--basic,
.pricing__value--agency,
.pricing__value--pro {
	font-weight: 800;
	font-size: 40px;
}

.pricing__paragraph--basic,
.pricing__paragraph--agency,
.pricing__paragraph--pro {
	margin-top: 20px;
}

.pricing__agency{
	border-radius:5px;
	box-shadow: 0px 5px 40px rgb(128, 128, 128);
}

.pricing__btn{
	margin-top:50px;
	padding:10px 60px;
	border-radius:10px;
	border:none;
	background-color: rgb(66, 178, 200);
	color:rgb(255, 255, 255);
	cursor:pointer;
}
.team__heading {
	margin: 20px auto;
	max-width: 1150px;
	text-align: center;
}

.team__members {
	margin: 40px auto;
	max-width: 1150px;
	display: flex;
	justify-content: center;
	gap: 30px;
	padding: 20px;
	
}


.team__role {
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 30px;
}
.team__name {
	font-weight: bold;
	margin-top: 10px;
}

.team__icons {
	gap: 30px;
	margin-top: 20px;
}

.team__img,
.team__icons {
	display: flex;
	justify-content: center;
}

.team__role,
.team__name,
.team__description {
	text-align: center;
}

.footer__container{
	background-color: rgb(71, 70, 70);
	color: rgb(255, 255, 255);
}

.footer__logo{
	display:flex;
	justify-content: center;
	align-items: center;
	gap:20px;
	height:70px;
	flex-direction: row-reverse;
}

.footer__copyrights{
	font-weight: 500;
}