/** @format */

.beautiful {
  display: flex;
  height: 70vh;
}
.beautiful__img-content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.beautiful__img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}
.beautiful__text-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--gray-letters);
}
.beautiful__title {
  margin: 9% 0 5% 0;
  font-size: var(--h2-size);
  font-weight: 400;
}
.beautiful__description {
  line-height: 30px;
  font-size: 13px;
}
