.features{
    max-width: 205px;
    min-height: 250px;
}
.features__icon{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    padding: 10px;
    margin: 10px 0 20px 0;
    background-color: white;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 5px rgba(255,255,255,0.2);
}
.features__title{     
     text-align: center;
}
.features__description{    
    text-align: center;
    line-height: 25px;
    margin-top: 15px;
}