.pricing{
    width: 300px;
    height: 350px;
    text-align: center;
}
.pricing--focus{
    box-shadow: 0 0 20px 20px rgb(0,0,0,0.1);
    border-radius: 5px;
}
.pricing__price{
    padding-top:10px; 
    font-size: 40px;
    font-weight: 700;
}
.pricing__price::before{
    content: '$';
}
.pricing__price::after{
    content: 'per month';
    display: block;
    padding-top:5px;
    font-size: 12px;
    font-weight: 400;
}
.pricing__contain{
    padding-top: 20px;
    min-height: 120px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    
}