html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}
/* header */
.header {
  background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
  width: 100%;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  outline: 2px solid yellow;
}

.header__list {
  list-style: none;
  display: flex;
}
.header__menu-link {
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 25px;
}

/* header__section */

.header__section {
  display: flex;
}

.header__article {
  margin-top: 50px;
  color: #fff;
}

.header__button {
  background-color: #84f384;
  color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
  border-style: none;
}

.header__button:hover {
  background-color: #3acd3a;
  border-style: none;
}

.header__image {
  /* 
  padding-bottom: 4rem;
  background: #fff;
  border: 1.5rem solid #fff;
  border-radius: 2.5rem;
  max-width: 90%;
  height: auto; */

  width: 90%;
  border: 10px solid #fff;
  border-radius: 40px;
  transform: rotate(-5deg);
  background: #fff;
}

/* features */

.features {
  background-color: #000;
  color: #fff;
}

.features__title {
  margin: 0;
  text-align: center;
  padding: 50px;
  font-size: 32px;
  font-weight: 100;
}

.features__items {
  display: flex;
}

.features__icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: white;
  padding: 13px;
}
/* advertisement */
.advertisement {
  padding: 20px;
  text-align: center;
}

/* footer */
.footer {
  background-color: #464646;
}
.footer__text {
  color: #fff;
  margin: 0;
  padding: 15px;
  text-align: center;
}
