@import '../abstracts/';

* {
  font-family: 'Montserrat', sans-serif;
}

.section,
.footer {
  padding: 0 30px;
  // @include respond(tablet) {
  //     padding: 0 60px;
  // }  
}

section {
  margin-bottom: 20px;
  padding: 0 0px;


}



.button {
  width: 30%;
  padding: 12px;
  border: none;
  background-color: $color-medium-green;
  color: $color-dark-violet;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.5em;
  letter-spacing: 0.1em;
}

.button--border {
  width: 20%;
  padding: 10px;
  border: 2px solid $color-dark-pink;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 800;
  background-color: $color-white;
}

.button--full {
  width: 30%;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 800;
  background-color: $color-dark-pink;
  color: $color-white;
  margin-right: 10px;
}

a {
  color: $color-dark-pink;
  text-decoration: none;
}

.headline--h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px 0 20px 0;
  color: $color-dark-grey;

  @include respond(tablet) {
    font-size: 1.5rem;
  }

}

.headline--h4 {

  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
  color: $color-dark-grey;

  @include respond(tablet) {
    font-size: 1.2rem;
  }
}

.headline--h5 {

  text-align: center;
  font-size: 0.9rem;
  color: $color-dark-grey;

  @include respond(tablet) {
    font-size: 1.1rem;
  }
}

.p {
  text-align: center;
  font-size: 0.8rem;
  color: $color-dark-grey;

  @include respond(tablet) {
    font-size: 1rem;
  }
}

.container {
  @include respond(tablet) {
    margin-right: 5%;
    margin-left: 5%;
  }
}

.section {
  width: 100%;
    height: 100%;
    position: relative;
    padding: 30px 0 30px 0;
}

.photo {
  width: 120px;
  height: 120px;
  @include respond(tablet) {
    width: 80px;
    height: 80px;
  }
  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
