@import '../abstracts/';

* {
    font-family: 'Montserrat', sans-serif;
}

.header, .section, .footer {
    padding: 0 30px;
    @include respond(tablet) {
        padding: 0 60px;
    }  
}

img {
    width: 100%;
    height: 100%;
}




section {
    margin-bottom: 20px;
    padding: 0 0px;

    @include respond(tablet) {
        padding: 0 60px;
    }
}



.button {
    width: 30%;
    padding: 10px;
    border: none;
    background-color: $color-medium-green;
    color: $color-white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.5em;
}