.container,
.main {
    max-width: 1150px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1150px;
    padding: 10px 0;
    margin: 0 auto;
}

@media(max-width: 500px) {

    .container,
    .main {
        max-width: 450px;

    }
}

@media(min-width: 501px) {

    .container,
    .main {
        max-width: 700px;
    }
}

@media (min-width: 768px) {

    .container,
    .main {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container,
    .main {
        max-width: 960px;
        padding-left: 0;

    }
}

@media (min-width: 1200px) {

    .container,
    .main {
        max-width: 1050px;
        padding-left: 0;

    }
}