.root {
  font-family: "Poppins", sans-serif;

  /* line-height: 1.5; */

}

.h2, .h3 {
  margin: 0;
}

.h1 {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0.2em;
}

@media(min-width:768px) {
  .h1 {
    font-size: 55px;
  }
}

.h2 {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 0.2em;
  
}

@media(min-width:768px) {
  .h2 {
    font-size: 45px;
  }
}

.h3 {
  font-size: 30px;
  font-weight: 700;
 
}

@media(min-width:768px) {
  .h3 {
    font-size: 35px;
   
  }
}

.h4 {
  font-size: 25px;
  font-weight: 300;
}

@media(min-width:768px) {
  .h4 {
    font-size: 20px;
    font-weight: 400;
  }
}

.h5 {
  font-size: 16px;
  font-weight: 400;
}

@media(min-width:768px) {
  .h5 {
    font-size: 20px;
    font-weight: 400;
  }
}

.p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

@media(min-width:768px) {
  .h5 {
    font-size: 20px;
    font-weight: 400;
  }
}

.button {
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.46000000834465027px;
  text-align: left;
}