html {
  font-size: 62.5%;
}

:root {
  --alfa-color: hsl(120, 70%, 54%);
  --beta-color: hsl(0, 0%, 100%);
  --charlie-color: hsl(0, 1%, 50%);
  --delta-color: hsl(0, 0%, 0%);
  --echo-color: hsl(60, 22%, 93%);
  --button-color: hsl(200, 100%, 60%);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.article {
  width: 100%;
  /* border: 0.2rem solid rgb(48, 201, 17); */
  min-height: 50rem;
}
.top-bar {
  background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}
.section-width {
  max-width: 115rem;
  /* border: 0.3rem solid hsl(200, 100%, 60%); */
}

.section-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

.top-bar__ul {
  /* border: 0.5rem solid hsl(60, 80%, 50%); */
  padding: 1rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.top-bar-link {
  text-decoration: none;
  color: var(--beta-color);
}
/* .top-bar-img {
  border: 0.5rem solid hsl(60, 80%, 50%);
} */
.top-bar__content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
}

.top-bar__content-left,
.top-bar__content-image {
  /* border: 0.5rem solid hsl(60, 80%, 50%); */
  position: relative;
  padding-bottom: 10rem;
}

.top-bar__content-left--title {
  margin: 4rem auto;
  font-size: 3rem;
  color: var(--beta-color);
}
.top-bar__content-left--text {
  margin-right: 30rem;
}
.top-bar-content-img {
  margin-top: 2rem;
  width: 70%;
  transform: rotate(355deg);
  box-shadow: 0 0 0 2rem var(--beta-color);
  position: absolute;
  top: 2rem;
  left: 9rem;
  border-radius: 1rem;
}
.top-bar-button {
  margin: 2rem auto;
  padding: 1rem 5rem;
  border-radius: 1rem;
  border: 1rem solid var(--alfa-color);
  background-color: var(--alfa-color);
  color: var(--beta-color);
  font-weight: bold;
}

.features {
  background-color: var(--delta-color);
  min-height: 44rem;
}
.features__top-bar {
  margin: 0 auto;
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: center;
  color: var(--beta-color);
}

.features-title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.features__bottom-bar {
  margin: 2rem auto;

  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  min-height: 25rem;
}

.features__content {
  color: var(--beta-color);
  /* border: 0.5rem solid hsl(60, 80%, 50%); */
  padding: 1rem;
  flex-basis: 20rem;
  min-height: 25rem;
  text-align: center;
}
.features-content {
  margin-bottom: 1rem;
}

.features-img {
  background-color: var(--beta-color);
  box-shadow: 0 0 0 1.5rem;
  border-radius: 50%;
  margin: 3rem 0;
  width: 3.2rem;
  height: 3.2rem;
}
.logo {
  min-height: 2rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-around;
  /* margin: 0 auto; 
   display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 1fr;
  justify-content: space-around; */
}
/* .article-four-section {
  border: 0.5rem solid hsl(60, 80%, 50%);
} */
/* .description__left-content {
  display: flex;
} */
.description-content-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-image--img {
  max-width: 70%;
}

.description-content-header {
  text-transform: uppercase;
  margin: 8rem 20rem 4rem 5rem;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}
.description-content-text {
  text-align: justify;
  margin: 0 20rem 0 4rem;
}

.pricing {
  background-color: var(--echo-color);
}

.pricing__header {
  text-align: center;
  min-height: 10rem;
  margin: 1rem auto;
  padding: 1rem;
}
.pricing__header--title {
  margin: 2rem auto;
  font-weight: 400;
  text-transform: uppercase;
}
.pricing__header--text {
  color: var(--charlie-color);
}

.pricing__content {
  min-height: 40rem;
  margin: 0.7rem auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.pricing__content-item {
  /* border: 0.5rem solid hsl(60, 80%, 50%); */
  flex-basis: 20rem;
  min-height: 35rem;
  position: relative;
}
.pricing__content-item--middle {
  background-color: var(--beta-color);
  border-radius: 1rem;
  box-shadow: 0 0 2rem 0.2rem hsl(0, 1%, 80%);
}
.pricing__content-type {
  font-size: 1.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  color: var(--foxtrot-color);
}
.pricing__content-price {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 0.5rem;
}
.pricing__content-month {
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 3rem;
}
.pricing__content-description {
  font-size: 1.4rem;
  font-weight: 500;
  list-style-type: none;
}

.pricing__content-button {
  padding: 1rem 3rem;
  color: var(--beta-color);
  background-color: var(--button-color);
  border: 1rem solid var(--foxtrot-color);
  border-radius: 1rem;
  position: absolute;
  bottom: 3rem;
  left: 2.5rem;
}
.pricing__content-item {
  text-align: center;
}

.team__header {
  margin: 0 auto;
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
}
.team__header > h3 {
  font-weight: 500;
}
.team__content {
  min-height: 40rem;
  margin: 0.7rem auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.team__content-item {
  flex-basis: 30rem;
  min-height: 35rem;
  /* border: 0.5rem solid hsl(60, 80%, 50%); */
  text-align: center;
}
.team__content-item-img {
  width: 35%;
  margin-top: 2rem;
}
.team__content-item-title {
  text-transform: uppercase;
  color: ;
  margin-top: 1rem;
}
.team__content-item-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.team__content-item-descrp {
  margin-top: 1rem;
  color: var(--charlie-color);
  font-size: 1.5rem;
}

.svg {
  margin: 1rem 0;
  width: 3.2rem;
  height: 3.2rem;
}

.footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--beta-color);
  background-color: var(--delta-color);
}
