.description {
	display: flex;
	justify-content: center;
	column-gap: 150px;
	margin-top: 30px;
}

.description__article {
	max-width: 55%;
}

.description__img {
	max-width: 35%;
}

.description__article .description__title {
	margin-top: 25px;
	font-size: 26px;
}

.description__text {
	margin-top: 25px;
}
