.features {
	background-color: var(--color-dark-background);
	color: var(--color-light-background);
}

.features__title {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 26px;
}

.features__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.features__box {
	max-width: 22%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.icon__container {
	min-width: 60px;
	min-height: 60px;
	position: relative;
	border: 1px solid var(--color-light-background);
	margin-bottom: 20px;
	background-color: var(--color-light-background);
	border-radius: 50%;
}

.features__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 30%;
}

.features__box .features__box--title {
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}

.features__box .features__box--text {
	margin-bottom: 80px;
	font-size: 12px;
	text-align: center;
}
