.footer__row {
	display: flex;
	justify-content: center;
	column-gap: 15px;
	align-items: center;
	background-color: rgba(70, 70, 70);
	padding-top: 10px;
	padding-bottom: 10px;
}

footer p {
	font-size: 10px;
	color: white;
	font-weight: 700;
}
