.header {
	background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	display: flex;
	row-gap: 5px;
	justify-content: space-between;
}

.nav__list__item {
	list-style: none;
}

.nav__list__item a {
	font-weight: 700;
	font-size: 14px;
}

.ad__container {
	display: flex;
	justify-content: space-between;
}

.ad__container,
.nav__list__item a {
	color: white;
}

.ad__article--first h2 {
	font-size: 40px;
	font-weight: 900;
	margin-top: 60px;
}

.ad__article--first p {
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.button {
	padding: 10px 40px;
	border-radius: 5px;
	border: none;
	color: white;
}

.button__nav {
	background-color: rgba(37, 241, 139);
	margin-top: 10px;
}

.ad__img__container {
	max-width: 70%;
	margin-bottom: 100px;
	margin-top: 50px;
	margin-right: 40px;
}

.ad__img {
	object-fit: contain;
	border: 20px solid white;
	border-radius: 5px;
	rotate: -5deg;
}

.ad__article--second {
	display: flex;
	justify-content: end;
	align-items: center;
}
