.pricing__container {
	text-align: center;
}

.pricing__title {
	margin-bottom: 15px;
	margin-top: 50px;
	font-size: 26px;
}

.price__container {
	display: flex;
	justify-content: center;
}

.price__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex: 1;
}

.cell {
	margin: 25 10;
	min-height: 400px;
}

h2 {
	margin-top: 30px;
	margin-bottom: 20px;
}

h2 + p {
	font-weight: 900;
	font-size: xx-large;
	margin-bottom: 20px;
}

.price__description {
	margin-top: 50px;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 700;
}

.button__price {
	margin-top: auto;
	background-color: rgba(10, 188, 235);
	margin-bottom: 20px;
}

.box {
	max-width: 20%;
}

.box--big {
	max-width: 25%;
}
