.team__title {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 50px;
	font-size: 26px;
}

.team__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.team__box {
	flex-basis: 22%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	text-align: center;
	flex: 1;
	margin-bottom: 30px;
}

.icon__container {
	max-width: 100px;
	max-height: 100px;
	margin-bottom: 50px;
}
.team__icon {
	object-fit: contain;
}

.team__name {
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}

.team__function {
	font-size: 14px;
}

.social-media__container {
	display: flex;
	margin-top: 15px;
	justify-content: space-between;
	row-gap: 10px;
}

.social-media__icon {
	padding: 10px;
	margin-bottom: 100px;
	margin-top: auto;
	max-width: 35px;
	max-height: 35px;
}

.team__box--1 {
	max-width: 27%;
}

.team__box--2 {
	max-width: 22%;
}

.team__box--3 {
	max-width: 25%;
}
