@import '../abstracts/';

.header {

  height: 100vh;
  background: radial-gradient($color-dark-white, $color-white);
  position: relative;
  width: 100%;
  display: grid;
  grid-template-areas:
    'nav'
    'hero';

  &__nav {

    @include respond(max-tablet) {
         background-color: $color-white;
    border-bottom: 1px solid $color-dark-grey;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); 
 
    }

   grid-area: nav;

    display: grid;
    grid-template-columns: 20% 80%;
    @include respond(tablet) {
       grid-template-columns: 20% 50% 20%;
    }
    grid-template-areas: 
    'logo menu2';

   @include respond(tablet) {
     grid-template-areas: 
    'logo menu2 other';
   }
   

    
 
    width: 100%;
    height: 10vh;
    position: fixed;
  
    border-radius: 2px;
@include respond(tablet) {
   &.scrolled {
      background-color: $color-white;
      border-bottom: 1px solid $color-dark-grey;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }
}
   
  }

  &__logo {
    grid-area: logo;
    z-index: 100;
    @include flexAbsoluteCenter();
    @include respond(tablet) {
      display: inline;
    }
    // flex-basis: 30%;
  }

  &__navigation {
    grid-area: menu2;
    // flex-basis: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    @include respond(tablet) {
      justify-content: initial;
    }

    .nav {
      width: 130%;
      height: 100%;
      position: absolute;
      top: 10vh;
      left:-30%;
       min-height: 90vh;
       z-index: 100;
      @include respond(tablet) {
        width: 100%;
        left: 0;
        top:0;
        height: 10vh;
        min-height: 0;
        width: 100%;
        z-index: 0
       
      }
    }
  }

  .menu {
    width: 100%;
    height: 100%;
    border: 2px solid pink;

    &__item {

      height: 100%;
      font-size: 1.2rem;
      font-weight: 700;
      position: relative;
      @include respond(tablet) {
        width: 20%
      }
    
      @include flexAbsoluteCenter();

      i {
        width: 10px;
        height: 20px;
        display: block;
      }
     
    
    }
&__sublist {
  display: none;
}
 
&__sub-sublist {
  display: none;
}

    &__sublist--hide {
      display: none;
    }

    &__sub-sublist--hide {
      display: none;
    }


    // &__sublist--block {
    //   display: block;

    //     width: 400px;
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr);
    //     grid-template-rows: repeat(2, 1fr);
    //     position: absolute;
    //     top: 9vh;
    //     left: calc(30% - 150px);
    //     background-color: $color-white;
    //     border-radius: 5px;
    // }



  }

  &__hero {
    grid-area: hero;
    display: flex;

  }

  
    // .menu__item--parent:hover>.menu__sublist--block {

    //   width: 400px;
    //   display: grid;
    //   grid-template-columns: repeat(3, 1fr);
    //   grid-template-rows: repeat(2, 1fr);
    //   position: absolute;
    //   top: 20vh;
    //   left: calc(30% - 150px);
    //   background-color: $color-white;
    //   border-radius: 5px;

    // }

    
    .menu__item--parent >.menu__sublist--block {
      background-color: pink;
      display: block;
      @include respond(tablet) {
      width: 400px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      position: absolute;
      top: 10vh;
      left: calc(30% - 150px);
      // background-color: $color-white;
      border-radius: 5px;
      }
    

    }

      
    .menu__item--parent >.menu__sub-sublist--block {
 display: grid;
      // width: 400px;
     
      // grid-template-columns: repeat(3, 1fr);
      // grid-template-rows: repeat(2, 1fr);
      // position: absolute;
      // top: 10vh;
      // left: calc(30% - 150px);
      // background-color: $color-white;
      // border-radius: 5px;

    }


  .nav__menu.nav__hide {
    display: none;
  }

  @include respond(max-tablet) {
    .nav__menu.nav__block {
      height: 100%;
    
      // padding-top: 10vh;
      position: absolute;
      top: 0;
    left: 0%;
      z-index: 2;
      display: block;
      display: flex;
      justify-content: center;
      flex-direction: column;
     
      background: $color-dark-pink 40%;

      &>li {
        margin-bottom: 10px;
        padding: 20px;

        a {
          color: $color-medium-green;
          font-weight: bold;
        }
      }
    }
  }

.hamburger {
  z-index: 100
}
  @include respond(tablet) {
    .hamburger {
      display: none;
    }

    .nav {
      &__menu {
        display: block;
        display: flex;
        flex-direction: row;
    
      }

      .menu {
        &__item:not(:nth-child(3)) {
          margin-right: 10px;

        }

        &__link {
          color: $color-white;
          font-size: 1.2rem;
          text-decoration: none;
        }
      }
    }
  }
}