@import '../abstracts/';

header {
  width: 100%;
  height: 60vh;
  padding: 0 30px;
  background: radial-gradient($color-dark-pink, $color-dark-violet);
  position: relative;
  @include flexAbsoluteCenter;
  flex-direction: column;

  .header__container {
    width: 100%;
    height: 30%;
    padding: 30px 0px;
    @include flexAbsoluteCenter;

    .header__logo {
      flex-basis: 30%;
    }

    .navigation {
      flex-basis: 70%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .nav__menu {
        display: none;
      }

      .nav__menu.nav__block {
        height: 40vh;
        width: 100%;
        position: absolute;
        top: 60vh;
        left: 0;
        z-index: 2;
        display: block;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 40%;
        background: $color-dark-pink 40%;

        &>li {
          margin-bottom: 10px;

          a {
            color: $color-medium-green;
            font-weight: bold;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  header {
    height: 75vh;
    align-items: flex-start;

    .header__container {
      .navigation {
        .nav {
          .nav__menu {
            display: block;
            display: flex;
            flex-direction: row;

            &>li:not(:nth-child(3)) {
              margin-right: 10px;
            }

            &>li {
              a {
                color: $color-white;
              }
            }
          }

        }
      }
    }
  }
}

@media(min-width:768px) {
  .hamburger {
    display: none;
  }

}