@import '../abstracts/';

.hamburger {
    background-color: $color-medium-green;
    border-radius: 5px;
}

.hamburger__icon {
    width: 30px;
    height: 30px;
    position: relative;
    transition: .1s;
    margin: 10px 10px;
    cursor: pointer;
    display: inline-block;

}

.hamburger__icon {
    span {
        width: 5px;
        height: 5px;
        background-color: $color-dark-pink;
        display: block;
        border-radius: 50%;
        position: absolute;

        &:nth-child(1) {
            left: 0;
            top: 0;
        }

        &:nth-child(2) {
            left: 12px;
            top: 0;
        }

        &:nth-child(3) {
            right: 0;
            top: 0;
        }

        &:nth-child(4) {
            left: 0;
            top: 12px;
        }

        &:nth-child(5) {
            position: absolute;
            left: 12px;
            top: 12px;
        }

        &:nth-child(6) {
            right: 0px;
            top: 12px;
        }

        &:nth-child(7) {
            left: 0px;
            bottom: 0px;
        }

        &:nth-child(8) {
            position: absolute;
            left: 12px;
            bottom: 0px;
        }

        &:nth-child(9) {
            right: 0px;
            bottom: 0px;
        }

        &:hover span {
            transform: scale(1.2);
            transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
        }
    }

    &.open {
        transform: rotate(180deg);
        cursor: pointer;
        transition: .2s cubic-bezier(.8, .5, .2, 1.4);

        span {
            border-radius: 50%;
            transition-delay: 200ms;
            transition: .5s cubic-bezier(.8, .5, .2, 1.4);

            &:nth-child(2) {
                left: 6px;
                top: 6px;
            }

            &:nth-child(4) {
                left: 6px;
                top: 18px;
            }

            &:nth-child(6) {
                right: 6px;
                top: 6px;
            }

            &:nth-child(8) {
                left: 18px;
                bottom: 6px;
            }

        }
    }

}