:root {
  --hero-text: #fff;
  --hero-content: #e9e9e9;
  --btn-hero: #11d045;
  --features-bg: #000;
  --btn-subscription: #04a7f3;
  --socials: #464646;
}

* {
  font-family: "Montserrat", sans-serif;
}

.hero,
section {
  width: 100%;
}

.hero {
  background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

.wrapper {
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
}

.hero__list {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  width: 100%;
  gap: 20px;
  color: var(--hero-text);
}

.hero__link {
  text-decoration: none;
  color: var(--hero-text);
  font-weight: normal;
  transition: font-weight 0.5 s ease-in-out;
}

.hero__link:hover {
  cursor: pointer;
  font-weight: 600;
}

.hero__image {
  object-fit: contain;
  overflow: hidden;
  text-align: center;
  padding: 10px 0 70px 0;
}

.hero__wrapper {
  padding: 0 5px;
}

.hero__cta {
  text-align: left;
}

.hero .wrapper {
  display: flex;
}

.hero__image img {
  width: 80%;
  height: auto;
  padding: 20px;
  display: inline-block;
  rotate: -7deg;
}

.hero__logo {
  width: 70px;
}

.hero__main-header {
  color: var(--hero-text);
  text-align: left;
  padding-top: 50px;
  font-weight: 700;
}

.hero__content {
  color: var(--hero-content);
  text-align: left;
  width: 60%;
  line-height: 25px;
  padding-bottom: 20px;
}

.btn {
  box-shadow: none;
  border: none;
  border-radius: 5px;
  padding: 20px 40px;
}

.btn--hero {
  background-color: var(--btn-hero);
  color: var(--hero-text);
}

.features {
  background-color: var(--features-bg);
  color: var(--hero-text);
}

.features__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  padding: 60px 0;
}

.features .wrapper:last-child {
  display: flex;
  justify-content: center;
}
.card {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
}

.card:not(:nth-child(3)) {
  margin-right: 10px;
}

.card__circle {
  background-color: var(--hero-text);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  margin-bottom: 20px;
}

.card__title {
  margin-bottom: 10px;
}

.card__content {
  padding-bottom: 150px;
  color: var(--hero-content);
  font-size: 14px;
}

.features__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logos .wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.about {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.image-container,
.content-container {
  width: 50%;
}

.content-container {
  padding-left: 50px;
}

.image-container {
  padding-top: 25px;
}

.about__title,
.pricing__title,
.team__title {
  text-transform: uppercase;
  font-size: 25px;
  padding: 40px 0;
}

.about__content {
  line-height: 30px;
  font-size: 12px;
  width: 60%;
}

.pricing__title,
.pricing__text {
  text-align: center;
}

.pricing__text {
  padding-bottom: 10px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  height: 500px;
  gap: 20px;
  padding: 20px 40px 40px;
}

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; /* take up all available height */
  flex-basis: 30%;
  position: relative;
}

.subscription:nth-of-type(2) {
  flex-basis: 40%;
}

.subscription__title {
  font-size: 20px;
  text-transform: uppercase;
  padding: 40px 0 20px 0;
}

.subscription__price {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 10px;
}

.subscription__period {
  font-size: 12px;
  padding-bottom: 30px;
}

.subscription__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.btn--subscription {
  color: var(--hero-text);
  background-color: var(--btn-subscription);
  position: absolute;
  bottom: 20px;
}

.team__title {
  text-align: center;
}

.team-card__wrapper,
.team__social-list {
  display: flex;
}

.team-card__wrapper {
  justify-content: space-between;
  gap: 20px;
  padding: 20px 40px 40px;
}

.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  flex-basis: 30%;
  padding-top: 10px;
}

.team__card:nth-of-type(1) {
  flex-basis: 40%;
}

.team__position {
  font-size: 16px;
  text-transform: uppercase;
  padding: 40px 0 20px 0;
}

.team__name {
  padding-bottom: 20px;
}

.team__descrition {
  padding-bottom: 20px;
}

.team__social-list {
  gap: 20px;
}

.team__social-item:hover {
  cursor: pointer;
}

.team__social-icon {
  filter: invert(0.7);
}

.footer {
  background-color: var(--socials);
  color: var(--hero-text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.footer__content {
  margin-right: 10px;
}
