.content__features {
    min-height:700px;
    background-color: black;
    color: white;
  
}

.header__features {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.content__features .features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px;
}

.features {
    width: 200px;
}


.content__title {
    font-size: 20px;
}


.content__ads>img {
    padding: 10px;
    border-radius: 60px;
    background-color: white;
}


.software {
    height: 500px;
}
.header__software {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #F9FAFA;
}

.content__software{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

}

.software__one > article{
display: flex;
justify-content: space-between;
}


.content__price{
    height: 700px;
    background-color:rgb(252, 252, 252);
    padding: 30px;
}

.header__price h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: lighter;
color: grey;
text-align: center;
}

.header__price h2{
    font-size:20px;
    font-weight: lighter;
color: grey;
text-align: center;
}

.content__price .price  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-top: 50px;
}

.price .agency {
    background-color: white;
    text-shadow: 5px 5px 7px grey;
    height: 350px;

}

.price__log {
    background-color: blue;
    padding: 10px;
    border-radius: 30px;
    max-width: 100px;
    text-align: center;
}

.team{
    height: 800px;
}

.team .workers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.workers {
    min-height: 300px;
width: 20%;
display: flex;
flex-wrap: wrap;
}

.name {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 40px;
    color: grey;

}

.workers__name {
    font-weight: bold;
}

.workers__position {
    font-weight: 400;
    font-size: 18px;
}