.footer {
    background-color: rgb(43, 43, 43);
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    padding:10px;
}

.footer__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.footer img {
    padding-left: 5px;
}