/* footer */
.footer__container {
    display: flex;
    
}
.footer__text {
    width: 50%;
    height: 80px;
    background-color: darkgray;
}
.text {
    color: white;
    padding-top: 30px;
    display: flex;
    justify-content: end;
    margin-right: 5px;

}
.footer__logo {
    width: 50%;
    height: 80px;
    background-color: darkgray;

}
.image {
    width: 110px;
    height: 50px;
    background-image: url(webscope.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    transform: translate(10px,25px);
    
    

}

