/* style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}
.row, .cell, .container {
    margin: 5px;
    padding: 5px;
    outline: 3px solid;
}
.row {
    outline-color: green;

}
.container {
    margin: 0 auto;
    max-width: 1200px;
    outline-color: blue;
    
}
.cell {
    min-height: 50px;
    outline-color: orange;
}
