@import '../abstracts/';

.adverb {
    @include flexAbsoluteCenter;
    flex-direction: column;

    .adverb__text {
        .adverb__text-header {
            font-weight: bold;
            padding: 10px 0;
            color: $color-dark-grey;
        }

        .adverb__text-description {
            padding: 10px 0;
            color: $color-light-grey;
        }
    }
}


@media(min-width: 768px) {
    .adverb {
        flex-direction: row;

        .adverb__image-container {
            flex-basis: 60%;
            height: 400px;
            padding: 20px 30px;

            img {
                width: 100%;
                height: 100%;
            }

        }

        .adverb__text {
            flex-basis: 60%;
            align-self: flex-start;
            padding: 40px 60px;
        }
    }
}