@import '_var.scss';

.features {
    background-color: $black;
    color: $white;
    width: 100%;

    &__text {
        @include padding(80px, 60px);
    }

    &__items {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

.feature__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 30%;
    height: 350px;
}

.feature__img {
    background: radial-gradient($white, white);
    border-radius: 25px;
    box-shadow: 0 0 10px $white;
    height: 100px;
    padding: 20px;
    width: 100px;
    transition: .2s ease-in;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px white;
    }
}

.text {
    font-size: $standard;
    text-align: center;

    &--big {
        font-size: $biggest;
        font-weight: 300;
        text-transform: uppercase;
    }

    &--features {
        font-weight: 700;
        text-transform: uppercase;
        padding: 40px 0 20px 0;
    }

    &--sub-features {
        width: 80%;
    }
}