/* Global */

:root {
    --color-alfa: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    --color-beta: rgba(236, 225, 225, 0.883);
    --color-delta: rgb(97, 200, 136);
    --color-gamma: rgb(255, 255, 255);
    --color-eta: rgb(0, 0, 0);
    --color-zeta: rgba(44, 42, 42, 0.63);
    --color-jota: rgba(192, 192, 192, 0.315);
    --color-sigma: rgb(72, 164, 240);

    --font-alfa:'Montserrat', sans-serif;
    --font-h1: 4.5rem;
    --font-h2: 5rem;
    --font-h3: 3rem;
    --font-p: 2rem;
    --font-btn: 1.9rem;
}

body {
    font-family: var(--font-alfa);
}

h1 {
    font-weight: bold;
    font-size: var(--font-h1);
    color: var(--color-gamma);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-weight: 500;
    font-size: var(--font-h3);
}

p {
    font-size: var(--font-p);
    line-height: 3.5rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-p);
    color: var(--color-gamma)
}

b {
    font-weight: bold;
    font-size: var(--font-h1);
}

li {
    font-weight: bold;
    font-size: var(--font-p);
}

button {
    font-weight: bold;
    font-size: var(--font-btn);
    color: var(--color-gamma);
    padding: 1.5rem;
    border-radius: 10px 10px 10px 10px;
    width: 20rem;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

