/* base.css */ 

.row {
    border: 0px solid green;
    margin-left: 0px;
    padding: 5px 0;
    
}
.container {
    margin: 0 auto;
    max-width: 1150px;
    border: 1px solid blue;
    padding: 5px 0;
}
.cell {
    min-height: 30px;
    min-width: 30px;
    border: 1px solid orange;
}