/* base.css */
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* base.css */
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.row, .cell, .container {
    margin: 5px;
    padding: 5px;
    outline: 3px solid;

}
.row {
    outline-color: green;
    margin: 15px;
    width: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1150px;
    outline-color: blue;
}
.cell {
    min-height: 50px;
    outline-color: orange;
}