:root {
    --color-alfa: rgb(255,255,255);
}

.beginning {
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    color: var(--color-alfa);
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 5px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-right: 0;
    margin-right: 0;
}

.nav__item {
    padding: 10px 5px 10px 10px;
    margin-right: 0;
    font-weight: 600;
    font-size: 14px;
}

.header__logo {
    min-width: 120px;
    margin: 5x;
    padding-left: 30px;
    padding-top: 26px;
}
.header__nav {
    min-width: 300px;
    margin: 15px 0;
    padding-right: 30px;
    padding-top: 20px;
}

.description__container {
    display: flex;
    height: 630px;
}

.download__btn {
    padding: 15px 50px;
    margin: 32px 0 0 25px;
    background-color: rgb(37, 241, 139);
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-alfa);
}

.description__article-header {
    padding-top: 72px;
    margin-left: 23px;
    font-weight: bold;
    font-size: 36px;
}

.description__article-text {
    padding-top: 20px;
    margin-left: 23px;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 300;

}

.description__download {
    width: 45%;
    margin-right: 10px;
    margin-top: 30px;
}

.picture__first {
    width: 100px;
}

.description__picture {
    width: 55%;
    padding-top: 30px;
    margin-top: 30px;
}

.picture__second {
    width: 560px;
    border: var(--color-alfa) solid 18px;
    border-radius: 20px;
    background: var(--color-alfa);
    transform: rotate(355deg);
    padding-bottom: 30px;
}