.button {
  background: none;
  border: none;
  border-radius: 0.8rem;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1.6rem 3.8rem;
}

.button--call-to-action {
  background-color: var(--accent-color);
}

.button--call-to-action:hover {
  background-color: var(--accent-dark-color);
}
