.content__container {
    align-items: flex-start;
    display: flex;
    justify-content: center;
}

.content__information {
    min-height: 400px;
    width: 75%;
    color: rgba(255, 255, 255, 1);   
}

.content__article {
    min-height: 400px;
    width: 75%;
}

.content__ads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 25%;
}

.content__ads--sectionTwo {
	height: 50%;
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content__ads--sectionFive {
	height: 33%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content__ads--sectionSix {
	height: 50%;
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/*--------------- Stylizacja Sekcji 1 -------------------*/
.content__information:first-child {
    width: 40%;
    padding: 5% 0%;
}

.content__information:last-child {
    width: 60%;
}

.content__information > h1 {
    font-weight: bold;
    font-size: 30px;
}

.content__information > p {
    margin-top: 30px;
    width: 60%;
}

.content__information > button {
    background-color: rgba(37, 241, 139, 1);
    margin-top: 30px;
}

.content__information > figure {
    width: 80%;
    background-color:  rgba(255, 255, 255, 1);
    text-align: center;
    border-radius: 20px;
    transform: matrix(1, -0.1 ,0.1, 1, 70, 30);
	-webkit-transform: matrix(1, -0.1 ,0.1, 1, 70, 30);
	-moz-transform: matrix(1, -0.1 ,0.1, 1, 70, 30);
    -o-transform: matrix(1, -0.1 ,0.1, 1, 70, 30);
    transition: transform .5s ease-in-out;
}

.content__information > figure:hover {
    width: 80%;
    background-color:  rgba(255, 255, 255, 1);
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transform: matrix(1, 0, 0, 1, 70, 30);
	-webkit-transform: matrix(1, 0, 0, 1, 70, 30);
	-moz-transform: matrix(1, 0, 0, 1, 70, 30);
	-o-transform: matrix(1, 0, 0, 1, 70, 30);
}

.content__information > figure > img {
    width: 95%;
    height: 75%;
    padding-top: 10px;
}

/*-------------------------------------------------------*/
/*--------------- Stylizacja Sekcji 2 -------------------*/
.content__container--backgroundBlack {
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
}

.content__container--backgroundBlack > h1 {
    font-size: 24px;
    letter-spacing: 1px;
    margin: 2%;
}

figure.content__ads--sectionTwo {
    background-color: rgba(255, 255, 255, 1);
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.content__ads--sectionTwo > img {
    transition: transform .3s ease-in-out;
}

.content__ads--sectionTwo > img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.content__ads--sectionTwo > span {
    font-weight: bold;
    margin-top: 15%;
    margin-bottom: 5%;
}

.content__ads--sectionTwo > p {
    font-size: 15px;
}

/*-------------------------------------------------------*/
/*--------------- Stylizacja Sekcji 4 -------------------*/
.content__article {
    min-height: 400px;
    width: 75%;
    color: rgba(0, 0, 0, 0.6);
}

.content__article > h1 {
    font-weight: bold;
    font-size: 26px;
    margin-left: 5%;
    padding-top: 10%;
    letter-spacing: 2px;
}

.content__article > p {
    width: 70%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 14px;
}

/*-------------------------------------------------------*/
/*--------------- Stylizacja Sekcji 5 -------------------*/
.sectionFive > .content__container > .content__ads:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px 10px rgba(225, 228, 231, 0.8)
}

.content__container--backgroundWhite {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
}

.content__container--backgroundWhite > span:first-child, .content__container--backgroundWhite > h2 {
    font-size: 24px;
    letter-spacing: 1px;
    margin: 1%;
    font-weight: bold;
}

.content__container--backgroundWhite > span:last-child {
    font-size: 14px;
    margin: 0.5%;
}

.content__ads--sectionFive > span:first-child {
    font-size: 20px;
    letter-spacing: 1px;
}

.content__ads--sectionFive > *:first-child + * {
    font-size: 40px;
    font-weight: bold;
}

.content__ads--sectionFive > span:last-child {
    font-size: 12px;
}

p.content__ads--sectionFive {
    font-size: 13px;
    font-weight: bold;
    width: 65%;
}

.content__ads--sectionFive > button {
    background-color: rgba(10, 188, 235, 1);
}

/*-------------------------------------------------------*/
/*--------------- Stylizacja Sekcji 6 -------------------*/
.content__ads--sectionSix > span:first-child {
    font-size: 20px;
    letter-spacing: 2px;
}

.content__ads--sectionSix > *:first-child + * {
    font-size: 16px;
    font-weight: bold;
    color:  rgba(0, 0, 0, 0.8);
}

.content__ads--sectionSix > p {
    font-size: 12px;
}

.content__ads--sectionSix > figure {
    display: flex;
}

.content__ads--sectionSix > figure > a > img {
    margin-right: 15px;
    transform: scale(1.2);
    transition: transform .5s ease-in-out;
}

.content__ads--sectionSix > figure > a > img:hover {
    /* background-color: rgba(48, 149, 211, 0.6); */
    cursor: pointer;
    transform: scale(2);
}
/*-------------------------------------------------------*/
