/* header and nav */
.header {
  background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
  min-height: 40vh;
  color: #fff;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  color: white;
  text-decoration: none;
}
.header__menu {
  display: flex;
}
.header__menu > li {
  margin: 5px;
  padding: 5px;
}

/* template container */
.header__template {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0;
}

/* NOTE: zdjecie musi byc w jakims kontenerze, trzeba go ustawic */;
/* .picture-wrap {
  max-height: 400px;
} */
/* features row */
.features__title {
  text-align: center;
  /* background-color: #000; */
}
.features__row__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  background-color: #1a1a1a;
}
.features__row__container {
  display: flex;
  padding: 0 150px;
  justify-content: center;
}
.features__row__cell {
display: flex;
min-height: 450px;
max-width: 300px;
flex-direction: column;
justify-content: center;

color: whitesmoke;
}
.header__nav .cell {
  border: 5px solid seagreen;
}
/* pricing row */
.pricing__row__tiles {
  display: flex;
}

/* samples row */
.samples__row {
  display: flex;
}

/* team row */
.team__row__tiles {
  display: flex;
}

/* buttons */
.btn {
  height: 50px;
  width: 150px;
  color: white;
  border-radius: 10px;
  background-color: #4ad239;
}
.btn a {
  color: white;
  font-size: 1.7em;
  text-decoration: none;
}
.features__round {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  align-items: center;
}

/* footer */
