.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: auto;
}
.header__block--logo {
  width: 50px;
  height: auto;
}
.nav {
  margin-left: auto;
}
.nav li {
  margin-right: 1px;
  display: inline-block;
  justify-content: right;
}
.nav a {
  text-decoration: none;
  color: rgb(250, 250, 250);
  font-size: 8px;
}

.main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 314px;
  padding-bottom: 95px;
  margin: auto;
}
.main__container--article {
  width: 48%;
 
}
.article__title {
  font-size: 16px;
  color: rgb(250, 250, 250);
  margin-top: 20px;
  margin-bottom: 15px;

}
.article__text {
  font-size: 9px;
  color: rgb(250, 250, 250);
  max-width: 150px;
  max-height: 75px;
  line-height: 150%;
  padding-bottom: 15px;
}
.article__button {
  background-color: #25f18b;
  border-radius: 10px;
  border: 1px solid #25f18b;
  width: 150px;
  height: 45px;
  color: white;
}
.main__container--ads {
  align-items: center;
  rotate: -10deg;
  width: 48%;
}
.ads__img {
  width: 200px;
  height: 150px;
  background-color: white;
  outline: 5px solid;
  color: white;
  border: 0;
  border-radius: 20px;
}
.specifications__header {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.specifications__table {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 65px;

}
.specifications__table--img {
  width: 15px;
  height: 15px;
}
.specifications__table--background {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
}
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 85px;
  padding-bottom: 10px;
}
.table__title {
  font-size: 5px;
  color: white;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 5px;
}
.table__text {
  font-size: 5px;
  text-align: center;
  color: white;
}
.collaborate__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.collaborate__logo {
  width: 255px;
}
.article__one {
  display: flex;
  justify-content: space-around;
  width: 48%;
  height: auto;
  align-items: center;
  margin:auto;
}
.article__one--img {
  max-width: 300px;
  max-height: 300px;
}
.article__second {
  width: 48%;
  padding-left: 75px;
  padding-top: 50px;
}
.article__second_title {
  font-size: 20px;
  white-space: nowrap;
  padding-bottom: 20px;
}
.article__second_text {
  font-size: 10px;
  font-weight: 100;
  line-height: 15px;
}
.price__main_bar {
  height: 100px;
  align-items: center;
  margin: auto;
}
.main__bar_title {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  padding-top: 20px;
  padding-bottom: 10px;
}
.main__bar_text {
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
}
.price__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin: auto;
  
}
.list__first {
  width: 100px;
  height: 150px;
  padding-top: 10px;
  align-items: center;
  text-align: center;
}
.list__title {
  font-size: 9px;
}
.list__offer {
  font-size: 7px;
}
.list__second {
  width: 100px;
  height: 150px;
  padding-top: 10px;
  align-items: center;
  text-align: center;
  box-shadow: 5px 10px 40px rgba(99, 117, 138, 0.3);
  border-radius: 7px;
}
.list__third {
  width: 100px;
  height: 150px;
  padding-top: 10px;
  align-items: center;
  text-align: center;
}
.price {
  font-size: 24px;
}
.month {
  font-size: 5px;
  padding-bottom: 10px;
}
.price__button {
  background-color: #0ABCEB;
  border-radius: 10px;
  border: 1px solid #0ABCEB;
  width: 75px;
  height: 25px;
  color: white;
  margin-top: 20px;
  font-size: 8px;
  white-space: nowrap;
}
.team__bar {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: auto;
}
.team__catalog {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.team-member {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 288px;
  width: 130px;
  align-items: center;
  padding-top: 20px;
}
.team__img {
  width: 50px;
  height: 50px;
}
.member__title {
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 4px;
}
.member__name {
  font-size: 8px;
  padding-bottom: 4px;
}
.member__description {
  font-size: 7px;
  white-space: nowrap;
  padding-bottom: 4px;
}
.member__contact {
  height: 7px;
  width: auto;
}
.team__small--img {
  height: 7px;
  width: 7px;
}
.footer__content {
  display: flex;
  justify-content: center;
  margin: auto;
}
.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
}
.footer__img {
  height: 25px;
  width: 100px;
}