
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row, .cell, .container {
  margin: 5px;
  padding: 5px;
  outline: 3px solid;
  }
  .row {
  outline-color: green;
  }
  .container {
  margin: 0 auto;
  max-width: 1150px;
  outline-color: blue;
  }
  .cell {
  /* min-height: 50px; */
  outline-color: orange;
  }

  :root {

    --ff-primary: 'Montserrat', sans-serif;
    
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    --fs-100: 0.8rem;
    --fs-200: 1.2rem;
    --fs-300: 1.4rem;
    --fs-400: 1.6rem;
    --fs-500: 2rem;
    --fs-600: 2.4rem;

    --clr-light: #F8F9F9;

  }

  html {
    font-size: 10px;
    font-family: var(--ff-primary);
    font-weight: var(--fw-regular);
  }