@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid green;
  margin-bottom: 5px;
}

.center {
  flex-basis: 100%;
  max-width: 1050px;
  margin-bottom: 5px;
  padding: 5px;
  border: 2px solid blue;
}

.header {
  color: white;
  min-height: 40vh;
  background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

/* NAV SECTION */
.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.menu__list {
  flex-basis: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu__item > * {
  text-decoration: none;
  color: white;
}

/* HEADER CONTENT SECTION */

.header__content {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header__content__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 35%;
  border: 2px solid orange;
  padding: 20px 0 70px;
}

.header__content__item:nth-child(2) {
  position: relative;
  flex-basis: 60%;
}

.content__title {
  margin: 50px 0 30px;
  font-size: 2rem;
  font-weight: 700;
}

.content__about {
  width: 70%;
  text-align: left;
  font-weight: 300;
}

.content__button {
  width: 50%;
  margin-top: 30px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #24f18b;
  border: none;
}

.content__button a {
  color: white;
  text-decoration: none;
}

.content__image {
  display: flex;
  justify-content: center;
}

.content__image img {
  width: 80%;
  transform: rotate(-5deg);
}

/* FEATURES SECTION */

.features {
  min-height: 40vh;
}

.features__title {
  min-height: 5vh;
}

.features__item {
  height: 100vh;
}
