header {
  align-items: center;
  background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  padding-top: 5vh;
  width: 90vw;
}

.nav__logo {
  align-content: center;
  display: flex;
  justify-content: center;
}

.nav__logo__img {
  max-width: 100px;
  width: 20vw;
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  width: 70vw;
}

.menu__item {
  border: 1px solid transparent;
  padding: 1.5vw;
}

.menu__link {
  color: var(--mainFontColor);
  font-size: 1.3rem;
  text-decoration: none;
  transition: 0.2s ease-in;
}

.menu__link:hover {
  text-shadow: 0 0 0.5px rgb(255, 255, 255), 0 0 0.5px rgb(255, 255, 255);
}

.title-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1150px;
  width: 90vw;
}

.title-page__content {
  color: var(--mainFontColor);
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  text-align: center;
}

.content__title {
  font-size: 3rem;
  font-weight: 600;
}

.content__title-text {
  font-size: 1.4rem;
  line-height: 1.5em;
  padding: 3vh 3vh 0 3vh;
}

.content__btn {
  background-color: var(--titlePageBtn);
  border-radius: 5px;
  border: none;
  color: var(--mainFontColor);
  filter: drop-shadow(2px 2px 4px #00000017);
  font-weight: 600;
  height: 40px;
  margin: 5vh auto 8vh auto;
  transition: 0.2s linear;
  width: 80%;
}

.content__btn:hover {
  background-color: var(--titlePageBtnHover);
  filter: drop-shadow(3px 3px 5px #00000017);
}

.title-page__img-content__img {
  display: none;
}

/* min-width 1024px */

@media (min-width: 1024px) {
  header {
    height: 90vh;
    min-height: 700px;
    padding-bottom: 50px;
  }

  .nav__logo {
    justify-content: flex-start;
  }

  .menu__item {
    padding: 1.5vw;
  }

  .menu__link {
    color: var(--mainFontColor);
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.2s ease-in;
  }

  .title-page {
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
  }

  .title-page__content {
    height: 100%;
    justify-content: flex-start;
    margin-top: 25%;
    text-align: start;
    width: 40%;
  }

  .content__title {
    font-size: 4rem;
  }

  .content__title-text {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 5% 30% 0 0;
  }

  .title-page__img-content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 5%;
    width: 70%;
  }

  .title-page__img-content__img {
    border-radius: 10px;
    display: block;
    height: auto;
    max-height: 70%;
    max-width: 80%;
    outline-offset: -3px;
    outline: 15px solid white;
    transition: 0.5s ease-in-out;
    width: auto;
  }

  .title-page__img-content__img:hover {
    filter: drop-shadow(5px 5px 5px #00000023);
    transform: rotate(3deg);
  }

  .content__btn {
    border-radius: 8px;
    margin: 30px 0;
    width: 50%;
  }
}
