.imac_content__container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.imac_content__left_article {
    width: 54%;
}

.imac_content__right_article {
    width: 44%;
}

.h5_design_title {
    font-size: larger;
    margin: 10% 5%;
    color: gray;
}

.div_imac_desc {
    color: gray;
    margin: 0 10%;
}

.imac_image {
    max-width: 70%;
    margin: 0 15%;
}