/* położenie i wygląd części header */
.header {
    width: 100%;
    height: 700px;
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    width: 1150px;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.top-bar__logo {
    width: 100px;
}

.menu__list {
    width: 280px;
    height: 40px;
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu__item {
    font-family: Montserrat;
    font-weight: 700;
}

.menu__link {
    text-decoration: none;
    color: white;
}

.menu__link:hover {
    text-shadow: 1px 1px 5px black;
}

.top-container {
    width: 1150px;
    height: 420px;
    display: flex;
    justify-content: space-between;
}

.top-container__text-box {
    width: 30%;
    padding-top: 80px;
    padding-right: 50px;
}

.text-box__title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 28px;
    color: white;
}

.text-box__paragraph {
    font-family: Montserrat;
    font-weight: 400;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 30px;
    width: 90%;
}

.text-box__download-button {
    width: 200px;
    height: 40px;
    background-color: #25F18B;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-box__download-link {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;
    padding-right: 53px;
}

.text-box__download-button:hover {
    background-color: #76F1BB;
}

.top-container__img-box {
    width: 70%;
}

.top-container__img {
    height: 400px;
    border-style: solid;
    border-width: 15px;
    border-radius: 25px;
    border-color: #FEFCFC;
    transform: rotate(-0.02turn);
    margin-top: 40px;
    margin-left: 130px;
}
/* położenie i wygląd elementu container--black*/

.container--black {
    width: 100%;
    height: 500px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__title {
    width: 1150px;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 26px;
    color: white;
    padding-top: 50px;
    padding-bottom: 20px;
    display: inline-block;
    text-align: center;
}

.container__container {
    width: 1150px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.container__article {
    width: 20%;
    height: 380px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__icon-box {
    height: 100px;
    width: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.article__head {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 30px;
    text-align: center;

}

.article__text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin: 20px;
}

/* wygląd i położenie logo bar */

.logo-bar {
    width: 100%;
    height: 60px;
    background-color: #F9FAFA;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo__list {
    width: 1150px;
    display: inline-flex;
    justify-content: center;
}

/* wygląd i położenie container z iMac */

.container {
    width: 100%;
    height: 500px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.container__img-box {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__img {
    width: 500px;
    margin-left: 200px;
}

.container__text-box {
    width: 45%;
}

.container__text-box .text-box__title {
    color: #000000;
    font-family: Montserrat;
    font-weight: 200;
    font-size: 26px;
    display: inline-block;
    text-align: start;
    padding-top: 70px;
}

.container__text-box .text-box__paragraph {
    color: #000000;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    padding-right: 300px;
}
/* wygląd i położenie pricing section */
.container--beige {
    width: 100%;
    height: 600px;
    background-color: #F8F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--beige .container__title {
    color: #000000;
}
.container--beige .container__subtitle {
    color: #000000;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
}
.container--beige .container__container {
    background-color: #F8F9F9;
    margin-top: 20px;
}
.container--beige .container__article {
    width: 25%;
    padding-top: 30px;
    text-align: center;
}
.article__name {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}
.article__prize {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
}
.article__paragraph--small {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 30px;
}
.article__paragraph--normal {
    height: 130px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.article__button {
    width: 150px;
    height: 40px;
    background-color: #0ABCEB;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.article__link {
    text-decoration: none;
    color: white;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px; 
    padding-right: 35px; 
}
.article__button:hover {
    background-color: #0aebb3;
}
.container--beige .container__article:hover {
    background-color: white;
    box-shadow: 8px 5px 5px 5px #E4E7EA;
}