// Mixins
@mixin flex-J-center-A-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-center-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
}


// Header Section
.header__section {
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    padding: 0 0 200px 0;

        .container{
            @include flex-J-center-A-center;
            justify-content: space-between;
        }

        nav {
            padding: 40px 0;
        }

        .logo {
            width: 100px;
            height: 35px;
        }

        .nav__list {
            @include flex-J-center-A-center;

            .nav__item {
                margin: 10px;
                
                a{
                    font-size: 14px;
                }
            }
        }

        .header_mainText{
            min-height: 450px;
            padding-top: 50px;
            color: #fff;

            h2 {
                font-size: 36px;
                font-family: 'Montserrat';
                font-weight: bold;
                padding: 20px 0 20px 0;
            }

            p {
                font-size: 18px;
                line-height: 30px;
            }

            .header__button--primary {
                border: 1px solid #25F18B;
                background-color: #25F18B;

                a {
                    font-size: 14px;
                }
            }
        }

        .header_image {
            .imgbox {
                width: 540px;
                height: 420px;
                padding: 20px;
                margin-right: 100px;
                transform: rotate(-6deg);
                border-radius: 25px;
                background-color: #fff;
            }

            img {
                width: 510px;
                height: 360px;
                z-index: 1;
            }
        }
}

// Features Section________________________________________________________
.features__section {
    background-color: #000;

        .features__heading {
            text-align: center;
            padding: 60px;

            h2 {
                font-size: 30px;
                color: #fff;
            }
        }

        .features__items {
            @include flex-J-center-A-center;
            padding: 30px 0 90px 0;

            article {
                @include flex-J-center-A-center;
                flex-direction: column;
                margin: 0 30px;
                padding: 30px;
                text-align: center;
                color: #fff;

                .article__img {
                    height: 78px;
                    width: 78px;
                    margin: 20px 0;
                    @include flex-J-center-A-center;
                    border-radius: 50%;
                    background-color: #fff;
                }

                h4 {
                    font-size: 14px;
                    margin: 10px 0;
                    padding: 15px 0 0;
                    font-weight: 600;
                }

                p {
                    margin: 0 0 10px;
                }
            }
        }
}

// Logos Section________________________________________________________
.logos__section {
    background-color: #F9FAFA;

        .container {
            @include flex-J-center-A-center;
            height: 90px;
        }
}

// Presentation Section________________________________________________________
.presentation__section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding: 60px 20px;

        .presentation__img  {
            height: 600px;
            width: 50%;
        }

        .presentation__text {
            width: 50%;
            padding: 80px 0 0 100px;

            h4 {
                margin: 20px 0 10px;
                padding: 0 0 35px;
                font-size: 30px;
            }

            .presentation__content {
                width: 390px;
                height: 190px;

                p {
                    font-weight: 300;
                    font-size: 15px;
                    line-height: 30px;
                    text-align: left;
                }
            }
        }
}

// Pricing Section________________________________________________________
.prining__section {
    background-color: #F8F9F9;

        .pricing__text {
            text-align: center;

                h4 {
                    margin: 20px 0 10px;
                    padding: 75px 0 0;
                    font-size: 30px;
                    color: #333;
                }

                p {
                    margin: 10px 0;
                    padding: 10px 0 0;
                    font-size: 18px;
                    color: #808080;
                }
        }

        .pircing__offerts {
            @include flex-J-center-A-center;
            padding: 70px 0 100px;
        }

        .pricing__offer--awarded {
            background-color: #fff;
            box-shadow: 5px 8.7px 40px rgba(99, 117, 138, 0.3);
            border-radius: 7px;
        }

        .pricing__offer {
            width: 320px;
            height: 450px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            text-align: center;
        }

        .offer__title {
            margin: 20px 0 10px;
            padding: 0 0 5px;
                span {
                    font-size: 18px;
                    color: #333;
                }
        }

        .offer__price {
                span{
                    font-size: 45px;
                    margin: 10px 0;
                    font-weight: 600;
                }

                p {
                    font-size: 12px;
                    padding-bottom: 20px;
                }
        }

        .offer__benefits ul li {
            line-height: 25px;
        }

            .pricing__button--secondary {
                background-color: #0ABCEB;
                border: #0ABCEB;
                color: #fff;
                margin-top: 100px;
            }
}

// Team Section________________________________________________________
.team__section {
    padding-bottom: 200px;

        .team__text {
            text-align: center;

                h4 {
                        margin: 20px 0 10px;
                        padding: 75px 0 ;
                        font-size: 30px;
                        color: #333;
                        text-align: center;
                }
        }

        .team__workers {
            @include flex-J-center-A-center;
            justify-content: space-around;

                .team__worker {
                    width: 320px;
                    height: 250px;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    text-align: center;
                        
                        .img {
                            padding: 40px 0;
                        }

                        span {
                            font-weight: 600;
                            line-height: 40px;
                        }

                        img {
                            padding: 20px 10px;
                        }
                }
        }
}

// Footer Section________________________________________________________
.footer__section {
    background-color: #464646;
    padding: 10px;

        .footer__text {
            @include flex-J-center-A-center;
            color: #fff;

                h5 {
                    margin: 0 20px;
                    font-size: 12px;
                }
        }
}