.container {
    max-width: 150rem;
    margin: 0 auto;
}

/* Navigation */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */

.header__content {
    display: flex;
    height: 80vh;
    justify-content: space-between;
    min-width: 30%;
}

/* Features */

.features {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 15rem;
}

.feature__container {
    display: flex;
    justify-content: center;
    padding: 0;
}

.feature__heading {
    padding: 3rem;
}

/* ompany Logo */

.cooperating-companies {
    background-color: var(--white-color);
}

.cooperating-companies__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.cooperating-companies__container img {
    max-width: 100%;
}

/* Company description */

.company-wrapper {
    background-color: var(--white-color);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 90vh;
}

/* Plan */

.pricing-plans {
    background-color: var(--white-color);
    padding: 1rem;
}

.pricing-plans__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

/* Teams heading */

.teams {
    background-color: var(--white-color);
    padding: 1rem;
    text-align: center;
}

.teams__wrapper {
    display: flex;
    justify-content: center;
    padding: 5rem;
    margin-bottom: 10rem;
}

/* Footer */

.footer {
    background-color: var(--footer-bg);
    padding: 2rem;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}