@media (max-width: 601px) {
    .menu {
        padding-top: 20px;
    }
    .intro {
        flex-direction: column;
    }
    .intro__pix {
        order: -1;
        margin-top: 5%;
        padding: 3%;
    }
}
@media (max-width: 519px) {
    .basic__list {
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    } 
    .basic__item {
        max-width: 100%;
        flex-direction: row;
    }
    .basic__item__icon {
        width: 70px;
        height: 70px;
        margin-top: 10px;
    }
    .basic__item__txt {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 2%;
    }
    .gr-part__capition {
        display: flex;
        padding-bottom: 1%;
        padding-left: 5%;
        justify-content: flex-start;
    }
    .gr-part__par {
        justify-content: flex-start;
        align-self: flex-start;
        text-align: left;
        padding-left: 5%;
    }
}
@media (max-width: 601px) {
    .info {
        flex-direction: column;
    }
    .info__txt {
        order: -1;
        max-width: 100%;
        padding: 5%;
        margin: 0;
        align-items: center;
    }
    /* -> .tariff */
    .tariff__list {
        flex-direction: column;
        justify-content: center;
    }
    .tariff__part {
        align-self: center;
    }
    /* X .tariff */
    /* -> .team */
    .team__list {
        flex-direction: column;
        flex-basis: 1;
    }
    .article__team__item {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .a__team__item img {
        max-width: 100%;
    }
    .address__team__item {
        flex-basis: 20%;
        min-width: 130px;
    }
    .p__team__item {
        flex-basis: 60%;
    }
    .column__header > .column__par {
        display: flex;
        padding: 1%
    }
    .column__header > .column__capition {
        order: 1;
        padding: 2%;
    }
    .column__header > .column__par {
        margin: 0;
        display: flex;
        align-items: center;
        padding: 2%;
    }
    /* .team__item__avatar {
    } */
    /* X .team */
}