.presentation {
  display: flex;
  padding: 5rem;
}

.presentation__image,
.presentation__info {
  padding: 5rem;
  width: 49%;
}

.presentation__description {
  line-height: 2;
  max-width: 80%;
}

@media (max-width: 768px) {
  .presentation {
    flex-direction: column;
  }

  .presentation__image {
    margin: 0 auto;
    padding: 0;
    width: 60%;
  }

  .presentation__info {
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .presentation {
    padding: 3rem;
  }
}
