/* price-section */

.price__row {
    background: var(--color-jota);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.price__title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--color-zeta);
}

.price__title > h2 {
    margin: 3rem 0;
}

.price__content {
    display: flex;
    justify-content: center;
}

.price__card {
    padding: 3rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50rem;
    height: 60rem;
    text-align: center;
    border: solid 1px var(--color-jota);
    border-radius: 20px 20px 20px 20px;
    background: var(--color-gamma);
}

.price__card:hover{
    box-shadow: 0px 0px 25px 9px rgba(194, 191, 191, 0.53);
}

.price__card > h3 {
    color: var(--color-zeta);
    letter-spacing: 0.2rem;;
}

.price__card > p {
    color: var(--color-zeta);
}

.price__card > ul > li {
    color: var(--color-zeta);
    line-height: 3rem;
}

.price__btn {
    background: var(--color-sigma);
    border: none;
}

.price__btn:hover {
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}