/* price-section */

.price {
    background: var(--color-jota);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.price__header {
    width: 100%;
    letter-spacing: 0.5rem;
    color: var(--color-zeta);
    text-align: center;
    text-transform: uppercase;
}

.price__header-title {
    margin: 2rem 0;
}

.price-content {
    display: flex;
    flex-direction: row;
}

.price-content__card {
    padding: 3rem;
    margin: 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40rem;
    height: 55rem;
    text-align: center;
    border: solid 1px var(--color-jota);
    border-radius: 20px 20px 20px 20px;
    background: var(--color-gamma);
}

.price-content__card:hover{
    box-shadow: 0px 0px 25px 9px rgba(194, 191, 191, 0.53);
}

.price-content__card-title {
    color: var(--color-zeta);
    letter-spacing: 0.2rem;;
    font-weight: normal;
    font-size: 3rem;
}

.price-content__card-para {
    color: var(--color-zeta);
    font-weight: normal;
}

.price-content__card-li {
    color: var(--color-zeta);
    line-height: 3rem;
}

.price-content__card-btn {
    background: var(--color-sigma);
    border: none;
}

.price-content__card-btn:hover {
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}