/* BASES */
:root {
  --btn-color: #7cf38c;
  --btn-color-hover: #7bf5b5;
  --price-btn-color: #50bceb;
  --price-btn-color-hover: #5fd5f7;
}

* {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
}

.row {
  width: 100%;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
h2 {
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
.btn {
  background: none;
  border: none;
  color: white;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  font-size: 1.1rem;
}
.btn:hover {
  border-radius: 20px;
}
.background-image {
  min-height: 90vh;
  background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

/* HEADER */

.header__container {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  height: 50px;
}
.logo__img {
  width: 80%;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  padding: 0 20px;
  font-size: 1.1rem;
}
.nav__link:hover {
  color: var(--price-btn-color);
}
.nav__link--btn {
  background-color: var(--price-btn-color);
  padding: 15px 35px;
}
.nav__link--btn {
  background-color: var(--price-btn-color-hover);
}
/* END OF HEADER */

/* SECTION HERO */
.hero {
  margin-top: 80px;
  color: white;
  outline: 1px solid yellow;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  outline: 1px solid red;
}
.hero__content {
  width: 35%;
  outline: 1px solid blue;
}
.hero__image {
  width: 60%;
  outline: 2px solid green;
}
.hero__header {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 40px 0 20px 0;
}
.hero__text {
  width: 80%;
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 1.5;
  margin-bottom: 40px;
}
.hero__btn {
  background-color: var(--btn-color);
  padding: 15px 35px;
}
.hero__btn:hover {
  background-color: var(--btn-color-hover);
}
.image-container {
  width: 80%;
  height: 430px;
  margin: -20px 0 0 50px;
  border: 20px solid white;
  background-color: white;
  border-radius: 20px;
  rotate: -6deg;
}
/* END OF HERO SECTION */

/* FEATURES SECTION*/

.features {
  background-color: black;
  color: white;
  padding: 60px 0 100px 0;
}
.features__header {
  text-align: center;
  margin-bottom: 50px;
}
.features__items {
  display: flex;
  text-align: center;
  justify-content: center;
  outline: 1px solid red;
}

.features__item {
  width: 30%;
  padding: 30px;
}
.features__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  box-shadow: 4px 14px 28px #393939;
}
.features__title {
  margin-bottom: 10px;
  font-weight: bold;
}
.features__text {
  line-height: 1.5;
}
/* END OF FEATURES SECTION */

/* LOGOS SECTIONS */
.logos_container {
  padding: 30px 0;
  text-align: center;
}
/* END OF LOGOS SECTIONS */

/* DESCRIPTION SECTION */
.description {
  display: flex;
  justify-content: center;
  padding: 60px 30px;
  outline: 1px solid red;
}
.description__image {
  width: 50%;
}
.description__image img {
  width: 100%;
  /* padding: 0 0 30px 30px; */
}
.description__info {
  width: 50%;
  margin: 30px 0 0 140px;
}
.description__header,
.description__text {
  text-align: start;
  width: 70%;
}
.description__text {
  margin-top: 30px;
  line-height: 2;
  font-weight: lighter;
}

/* END OF DESCRIPTION SECTION */
