
body{
margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;  
color: #333; 
}
nav#main-nav>.container{
padding: 30px 0 40px 0;
justify-content: space-between;
}
nav#main-nav>.container a{
   padding: 10px;
}
nav#main-nav>.container a img{
height: 30px;
}
section#first{
   padding-top: 0px;
}
.flex-row{
   display: flex;
   flex-direction: row;
}
/* ul#main-menu{} */
ul#main-menu li{
float: left;
list-style: none;
}
ul#main-menu li a{
   color: #fff;
   text-transform: capitalize;
   font-weight: 400;
   padding: 18px 15px;
   text-decoration: none;
   font-weight: 500;
   font-size: 14px;
}
header{
   background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}
.container{
  margin: 0 auto;
  max-width: 1150px; 

}
.banner.flex-row{
   align-items: stretch;

}
h1.banner_title{
margin-top: 70px;
color: #fff;
max-width: 400px;
font-size: 36px;

}
p.banner_description{
   color: #fff;
   max-width: 300px;
   font-size: 18px;
}
.banner_left{
   width: 50%;
   /* max-width: 50vw; */

}
.banner_right{
   width: 50%;
   box-sizing: border-box;

   padding: 50px 0 50px 0;
   
}
.banner_right div.wrap{
   padding: 15px;
   border-radius: 10px;
   background-color: #fff;
   max-width: 50vw;
   transform:rotate(-7deg);
   -webkit-box-shadow: -1px 1px 28px -1px rgba(93, 93, 93, 1);
   -moz-box-shadow: -1px 1px 28px -1px rgba(93, 93, 93, 1);
   box-shadow: -1px 1px 28px -1px rgba(93, 93, 93, 1);
   
}
.banner_right div.wrap img{
   /* transform:rotate(-20deg);*/
    max-width: 100%;
}
a.banner_button{
   background-color: #29f3a2;
   color:#fff;
   padding: 15px 45px;
   border-radius:8px;
   margin-top: 20px;
   display: inline-block;
   font-weight: 500;
}
a.banner_button>span{
   text-transform: uppercase;
}

/* general */
h2.section-title{
   text-align: center;
   text-transform: uppercase;
font-weight: 300;
font-size: 30px;
line-height: 1.5em;
margin: 0;
}
a{
   text-decoration: none;
}
section{
   padding: 70px 0 70px;
}
section.black{
   background-color: #000;
   }
   section.gray{
      background-color: #F8F9F9;
   }
   p.description{
      font-size: 12px;
      font-weight: 300;
   }
p{
   line-height: 1.5em;
}

/* section features */
.feature_features-wrap.flex-row{
justify-content: center;
padding-top: 60px;
}
section.black h2.section-title,
section.black p.description,
section.black p{
   color: #fff;
}
.feature_single-wrap{
  max-width: 300px;
  max-width: 240px;
  margin:0 25px 0 25px;

}
.feature_single-wrap:last-child{
   margin-right: 0;
}
.feature_single-wrap>figure{
margin: 0 auto;
   background-color: #fff;
   border-radius: 50%;
   height: 80px;
   width: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
}
p.feature{
   text-align: center;
}
p.feature_title{
   text-transform: uppercase;
   font-weight: 500;
}
p.feature_description{
   font-size: 14px;
   line-height: 1.5em;
}
/* logos */
section.gray.logos{
   padding:30px 0 30px 0;
}
section.gray>.container.logos{
   text-align: center;
}
section.white>.container.logos>img{
   max-width: 95%;
}
/* promo section */
.promo.container.wide.flex-row{
   max-width: 1280px;
   align-items: stretch;
}
.promo_left, .promo_right{
   width: 50%;
}
.promo_left img{
   max-width: 90%;
}
.promo_right{
  padding: 40px 0 0 60px;

}
.promo_right>h2.section-title{
   text-align: left;
}
.promo_right>p.description{
   max-width: 400px;
}
/* pricing */
.pricing-plan.pricing-plan_plan-wrap.flex-row{
   margin-top: 40px;
   justify-content: center;
}
.center-align{
text-align: center;
}
.upper{
   text-transform: uppercase;
}
.pricing-plan_single>p>span.upper.small{
font-size: 12px;
font-weight: 300;
}
p, span{
   margin: 0;
}
.pricing-plan_single{
padding: 45px;
max-width: 150px;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
padding-bottom: 100px;
}
.middle-shadow{
   border-radius: 8px;
   -webkit-box-shadow: 0px 0px 35px -4px rgba(190, 190, 190, 1);
   -moz-box-shadow: 0px 0px 35px -4px rgba(190, 190, 190, 1);
   box-shadow: 0px 0px 35px -4px rgba(190, 190, 190, 1);
margin: 0 20px;
}
.pricing-plan_single p{
   text-align: center;
}
.pricing-plan_single>p.price{
   font-size: 40px;
   font-weight: 800;
}
.pricing-plan_single>p.small{
   font-size: 10px;
   margin-bottom: 20px;
}
.pricing-plan_single>p.plan-desc{
font-size: 11px;
font-weight: 400;
}
a.pricing-plan_cta-button{
   background-color: #0ABCEB;
   color: #fff;
   padding: 15px 30px;
   border-radius: 8px;
   font-size: 12px;
   font-weight: 400;
   display: inline-block;
position:absolute;
bottom: 45px;
}
a.pricing-plan_cta-button:hover{
   background-color: #0b9fc8;
}
/* team */
.team.flex-row{
  margin-top: 50px; 
}
.team-single{
   flex-direction: column;
  text-align: center;
}
.team-single p{
   margin-bottom: 10px;
   font-weight: 300;
}
.team-single p.position{
   text-transform: uppercase;
}
.team-single p.name{
   font-weight: 600;

}
.team-single p.about{}
.team-single a.socials{
   padding: 10px;
}
/* footer */
footer{
   background-color: #464646;
   padding: 20px 0;

}
footer .container.flex-row{
justify-content: center;
align-items: center;
}
footer p{
   color: #fff;
   font-size: 12px;
   line-height: 31px;
   display: inline-block;
   margin-right: 8px;
   font-weight: 500;
}
footer p a{
   padding: 10px 0;
   display: inline-block;

}
/* figure img{
 
} */
/* less than 1280 desktop */
/* less than 1200? small desktop */
/* less than 768 tablet */
/* less than 480 mobile */
@media (max-width: 1280px) {
   body {
     background-color: pink;
   }
 }

@media (max-width: 1200px) {
   body {
     background-color: green;
   }
 }

@media (max-width: 768px) {
   body {
     background-color: orange;
   }
 }

@media (max-width: 480px) {
   body {
     background-color: yellow;
   }
 }