/* Navigation */
.nav__logo-link {
    margin-left: 1.5rem;
    align-self: flex-end;
}

.nav__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    padding: 1.5rem;
    font-weight: 600;
    margin-right: 1rem;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.7rem;
}

/* Header */

.header__heading {
    padding: 10rem;
    color: #fff;
    margin-left: 1rem;
    
}

.header__description {
    width: 50%;
    margin: 2rem 0 4rem;
    line-height: 1.7;
    font-weight: 400;
    font-size: 1.9rem;
}

.header__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__image >  figure {
    background-color: #fff;
    transform: rotate(-6deg);
    padding: 2rem;
    transition: transform 1s;
    border-radius: 2rem;
    max-width: 75rem;
}

.header__image-screen {
    max-width: 100%;
}

.header__image > figure:hover {
    transform: scale(1.1);
    transition: transform 1s;
}

/* Futures */

.features__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    width: calc(100%/4);
    padding: 0;
}

.feature__img {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px #fff;
}

.feature__img > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.feature__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 0;
    max-width: 60%;
    text-align: center;
}

/* Company description */

.company-wrapper__img {
    flex-basis: 49%;
    padding: 5rem;
}

.company-wrapper__img > img {
    width: 100%;
}

.company-wrapper__description {
    flex-basis: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15rem;
    width: calc(100%/2);
}

.heading-company__text {
    line-height: 2.5;
    letter-spacing: 2px;
    margin-top: 2rem;
}


/* Plan */

.pricing-plans__heading  .text {
    font-size: 2rem;
    letter-spacing: 1px;
    color:var(--paragraph-grey-color);
    margin-top: 0;
}

.offers {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 15rem;
}

.pricing-plans__offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: .4rem;
    width: 25%;
    text-align: center;
    padding: 4rem;
}

.offers-plan {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.pricing-plans__offer:nth-child(2) {
    box-shadow: 0 0 10px #333333;
    border-radius: 10px;
}

/* Sharing with teams selectors */
.offers-plan__item > h3,
.employers__info__item > h3 {
    font-weight: 300;
    font-size: 2.4rem;
    margin-bottom: 0;
}

.offers-plan__item > span:nth-child(2) {
    font-size: 6rem;
    font-weight: 700;
    display: block;
    color: var(--heading-two-color);
}

.offers-plan__item > span:last-child {
    margin-bottom: 4rem;
    display: block;
}

.offers-plan__item > p {
    margin: 0;
    font-weight: 500;
    text-align: center;
}

.pricing-plans__offer > footer
{
    margin-top: 7rem
}

/* Teams heading */

.employers {
    margin: 2rem;
    padding: 0;
    width: calc(100%/3);
}

.employers__info {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.employers__info__item > span {
    margin: .5rem .5rem;
    font-weight: 700;
    display: inline-block;
}

.employers__info__item > p {
    color: var(--heading-two-color);
}

