/* BASES */
:root {
  --btn-color: #7cf38c;
  --btn-color-hover: #7bf5b5;
  --price-btn-color: #50bceb;
  --price-btn-color-hover: #5fd5f7;
}

* {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
}

.row {
  width: 100%;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
h2 {
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
.btn {
  background: none;
  border: none;
  color: white;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  font-size: 1.1rem;
}
.btn:hover {
  border-radius: 20px;
}
.background-image {
  min-height: 90vh;
  background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
}

/* HEADER */

.header__container {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  height: 50px;
}
.logo__img {
  width: 80%;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  padding: 0 20px;
  font-size: 1.1rem;
}
.nav__link:hover {
  color: var(--price-btn-color);
}
.nav__link--btn {
  background-color: var(--price-btn-color);
  padding: 15px 35px;
}
.nav__link--btn {
  background-color: var(--price-btn-color-hover);
}
/* END OF HEADER */

/* SECTION HERO */
.hero {
  margin-top: 80px;
  color: white;
}
.hero__container {
  display: flex;
  justify-content: space-between;
}
.hero__content {
  width: 35%;
}
.hero__image {
  width: 60%;
}
.hero__header {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 40px 0 20px 0;
}
.hero__text {
  width: 80%;
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 1.5;
  margin-bottom: 40px;
}
.hero__btn {
  background-color: var(--btn-color);
  padding: 15px 35px;
}
.hero__btn:hover {
  background-color: var(--btn-color-hover);
}
.image-container {
  width: 80%;
  height: 430px;
  margin: -20px 0 0 50px;
  border: 20px solid white;
  background-color: white;
  border-radius: 20px;
  rotate: -6deg;
}
/* END OF HERO SECTION */

/* FEATURES SECTION*/

.features {
  background-color: black;
  color: white;
  padding: 50px 0 130px 0;
}
.features__header {
  text-align: center;
  margin-bottom: 100px;
}
.features__items {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features__item {
  width: 25%;
  padding: 0 30px;
}
.features__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 80px;
  height: 80px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  box-shadow: 4px 14px 28px #393939;
}
.features__title {
  margin-bottom: 10px;
  /* font-weight: bold; */
}
.features__text {
  line-height: 1.5;
  font-size: 0.9rem;
}
/* END OF FEATURES SECTION */

/* LOGOS SECTIONS */
.logos {
  background-color: #f9fafa;
}
.logos_container {
  padding: 30px 0;
  text-align: center;
}
/* END OF LOGOS SECTIONS */

/* DESCRIPTION SECTION */
.description {
  display: flex;
  justify-content: center;
  padding: 60px 30px;
}
.description__image {
  width: 50%;
}
.description__image img {
  width: 100%;
  /* padding: 0 0 30px 30px; */
}
.description__info {
  width: 50%;
  margin: 30px 0 0 140px;
}
.description__header,
.description__text {
  text-align: start;
  width: 70%;
}
.description__text {
  margin-top: 30px;
  line-height: 2;
  font-weight: lighter;
}

/* END OF DESCRIPTION SECTION */

/* PRICING SECTION */

.pricing {
  background-color: #f8f9f9;
  padding: 60px 0;
}
.pricing__header {
  margin-bottom: 50px;
  text-align: center;
}
.pricing__header-sub-titile {
  margin-top: 15px;
  font-weight: lighter;
  font-size: 1.2rem;
  color: #808080;
}
.pricing__items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pricing__item {
  position: relative;
  padding: 40px 0;
  width: 30%;
  height: 460px;
  text-align: center;
}
.pricing__item-title {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.pricing__item-price {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 5px;
}
.pricing__item-month {
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.pricing__item-feature {
  margin-bottom: 10px;
}
.fa-check {
  padding-right: 10px;
  color: var(--btn-color);
}
.pricing__item-btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background-color: var(--price-btn-color);
  padding: 15px 30px;
}
.pricing__item-btn:hover {
  background-color: var(--price-btn-color-hover);
  text-decoration: underline;
}
.pricing__item--light {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 20px;
  border-radius: 7px;
}
/* END OF PRICING SECTION */

/* TEAM SECTION */
.team__header {
  padding: 80px 0;
}
.team__members {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 0;
  margin-bottom: 100px;
}
.team__member {
  text-align: center;
  width: 30%;
}
.member__title {
  margin: 30px 0 10px 0;
}
.member__name {
  font-weight: bold;
  margin-bottom: 10px;
}
.member__contact {
  margin-top: 20px;
}
.member__contact img {
  padding: 0 10px;
}
/* END OF TEAM SECTION */

/* FORM SECTION */
.form__section {
  background-color: var(--price-btn-color);
  color: white;
}
.form__container {
  text-align: center;
  padding: 40px 0;
}

.form__title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
.form__text {
  width: 250px;
  margin: 0 auto 20px auto;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__email {
  padding: 10px 15px;
  height: 50px;
  width: 220px;
  border: none;
  border-radius: 10px;
  color: #808080;
  margin-right: 5px;
}
.btn__submit {
  height: 50px;
  width: 150px;
  padding: 10px 10px;
  background-color: var(--btn-color);
}
.btn__submit:hover {
  background-color: var(--btn-color-hover);
}
/* END OF FORM SECTION */

/* FOOTER SECTION */

.footer {
  padding: 20px 0;
  background-color: #464646;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}
.footer__text a {
  margin-left: 5px;
  vertical-align: middle;
}
