body {
  font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
}

.section-1 {
    background: linear-gradient(135deg, #6f00ff, hsl(302, 78%, 63%));
    color: white;
    padding: 2rem 0;
}

.content-wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.logo {
    width: 8rem;
    height: 6rem;
}

.menu {
    display: flex;
    gap: 1rem;
    font-size: medium;
    font-weight: 600;
    font-family: "Poppins";
    padding: 0.5rem 2rem;
}

.container1-section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.screen {
    width: 25rem;
    height: 20rem;
    border: white solid 15px;
    border-radius: 20px;
     transform: rotate(-8deg);
}

.section-left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.section-right {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.text {
    font-weight: 100;
}

h1 {
    font-size: xx-large;
    font-weight: 600;
}



.button--section-1 {
    height: 3rem;
    width: 12rem;
    background-color: #25f18b;
    border-radius: 10px;
    color: white;
    font-size: small;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

.button--section-1:hover {
    background-color: #14e07c;
}

.section-2 {
    background-color: black;
    color: white;
    padding: 1rem 0;
}

.container2-header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    letter-spacing: 3px;
}

.container2-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.items-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-container2 {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.icon-container2 img {
    width: 2rem;
    height: 2rem;
}

h3 {
    font-size: medium;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}

.text-align {
    text-align: center;
    font-weight: 300;
}