.row {
    width: 100%;

    border: 4px solid green;
}

.container {
    width: 1150px;
    margin: 0 auto;
    border: 4px solid blue;
}

.cell {
    border: 4px solid orange;
}

a {
    text-decoration: none;
    color: #fff;

    &:hover {
        color: #fff;
    }
}