:root {
    --white-color: #fff;
    --black-color: #000;
    --green-bg-btn: #25F18B;
    --blue-bg-btn: #0ABCEB;

    --heading-two-color: #333333;
    --paragraph-grey-color: rgb(124, 115, 115);
    --footer-bg: #464646;


}